{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron"></div>
{% endblock %}

{% block content %}

<div class="container about-intro">

	<div class="row">
		<div class="col-xs-10">
			<h1>What we do</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7">
			<h3 style="margin-top: 0; color:#D35239">Technology for the Sake of Humanity</h3>
			<p>Coming off the success of creating The Eyewriter - one of <strong>Time Magazine's 'Top 50 Inventions of 2010'</strong> and <strong>Gizmodo's Health Invention Of the Year</strong>,
	Not Impossible Labs is disrupting the story of healthcare.</p>
		</div>
		<div class="col-xs-4 col-xs-offset-1">
			<a class="btn btn-default btn-lg" href="/find-opportunity">Find an Opportunity</a><br/>
			<a class="btn btn-default btn-lg" style="margin-top: 15px;" href="/get-started">Submit a Project</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row about-section" style="border-top: 1px dashed black;">
		<div class="col-xs-4">
			<h2>Helping Through Making</h2>
			<div class="about-circle">
				<div class="about-circle-number">
					<p>1</p>
				</div>
			</div>
		</div>

		<div class="col-xs-8">
			<p>By collaborating with a growing community of creative makers and hackers, we utilize crowd-sourcing to crowd-solve previously insurmountable healthcare issues.
</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row about-section">
		<div class="col-xs-4">
			<h2>Technology for the Sake of Humanity</h2>
			<div class="about-circle">
				<div class="about-circle-number">
					<p>2</p>
				</div>
			</div>
		</div>

		<div class="col-xs-8">
			<p>In providing these low-cost solutions on an open-source, DIY platform, we aim to directly change lives around the globe.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row about-section">
		<div class="col-xs-4">
			<h2>Help One Help Many</h2>
			<div class="about-circle">
				<div class="about-circle-number">
					<p>3</p>
				</div>
			</div>
		</div>

		<div class="col-xs-8">
			<p>Each of our projects tells the story of a single individual. 
By focusing on helping one person, how many others can we help? By focusing on one problem, how many residual problems can we solve?</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row about-section">
		<div class="col-xs-4">
			<h2>Tell Everybody</h2>
			<div class="about-circle">
				<div class="about-circle-number">
					<p>4</p>
				</div>
			</div>
		</div>

		<div class="col-xs-8">
			<p>Our impact is furthered by the production of first class media about the successes of our innovators.</p>		
			<p>In this way, Not Impossible creates a sustainable cycle of collaboration inspiring innovation, compelling others to action and, ultimately, making the impossible, possible.</p>
		</div>
	</div>
</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
