{% extends 'base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    
    <div class="container">
        
        <div class="row">

            <div class="col-xs-8">

                <h1>Getting Started</h1>

                <h2>Submit a Cause</h2>
                <p>Submit your cause to Not Impossible Labs and find people to help you change the lives of others.</p>

                <div class="get-started">
                    <a href="/organization/new" class="btn btn-primary btn-lg">Submit a Cause</a>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block bottomscript %}

{% endblock %}
