{% extends 'base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    
    <div class="container">
        
        <div class="row">

            <div class="col-xs-8">

                <h1>Getting Started</h1>
                <h2>Submit a Cause</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </div>
            <div class="col-xs-7 col-offset-1">
                <p>Submit your cause and start collaborting with a community of creative makers and hackers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </div>
            <div class="col-xs-7 col-offset-1">
                <p>Find the right people and the resources you need to move your project forward and grow the impact you are making in the world.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span class="glyphicon glyphicon-share"></span>
            </div>
            <div class="col-xs-9 col-offset-1">
                <p><p>Share your story and the story of the individuals you are working to help. Give people opportunities to join your cause and share the action as it unfolds.</p>
</p>
            </div>
        </div>                
                <div class="get-started">
                    <a href="/organization/new" class="btn btn-primary btn-lg">Submit a Cause</a>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block bottomscript %}

{% endblock %}
