body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    font-family: Arial;
    color: #555;
}

.navbar .navbar-brand img {
    width: 27px;
}

#home .jumbotron {
    background-color: #D35239;
    background-image: url('/static/images/nil-logo-white-271x300.png');
    background-size: 158px 175px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
/* about */

#about .jumbotron .overlay {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#about .jumbotron {
    padding: 0px;
    background-image: url('/static/images/nil-labs-jumbo.jpg');
    background-size: cover;
    background-color: #D35239;
    background-position: 0px -128px;
    height: 300px;
}

#about .about-intro {
    margin-bottom: 25px;
}

#about .about-section {
    padding-top: 25px;
    border-bottom: 1px dashed black;
    font-weight: bold;
}

#about .about-section h2 {
    margin-top: 0;
}

#about .about-circle {
    position: relative;
    margin: 0 0 30px 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #D35239;
}

#about .about-circle-number {
    position: absolute;
    top: 15px;
    left: 36px;
}

#about .about-circle-number p {
    font-size: 50px;
    color: #fff;
}

#profile .racing-stripe {
    background-color: #D35239;
}