{% extends 'emails/email_base.html' %}

{% block content %}
    <h3>Hi {{ user.first_name }},<br/></h3>
    <p>You just joined a fast growing network of world class talent who are using their skills for good. Welcome to ReAllocate. Together we building a better world by helping social impact organizations create real world solutions. If you ever need to get in touch email <a href="mailto:info@reallocate.org">info@reallocate.org</a>.</p>
    <p>There are lots of opportunities to get involved. You can find ways to plug-in by <a href="{{ request.get_host }}/find-opportunity">browsing opportunities.</a> or <a href="{{request.get_host}}">browsing projects</a> to find causes you support.</p>
    <p>When you find an opportunity that calls to you, click on the Engage Button to send a message to the project lead. Let them know why their cause is important to you and how excited you are to get involved. Share your passion for what you do and how you can use your world class skills to help.</p>
    
    <p>You are now a part of a community of ReAllocators using their skills to build a better world. Lets do this together!</p>
    
    Cheers,<br/>
    The Reallocate Team<br/>
    
{% endblock %}