{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron"></div>
{% endblock %}

{% block content %}

<div class="container">

	<div class="col-xs-7">
		<h2>Our Story</h2>
		<p>In 2011, Patrick Sarkissian decided to build a solution to the growing cynicism around donating to charitable causes in Armenia. Because of the inconvenient truth about Armenia’s struggles with corruption and the increasing number of broken promises and unfinished projects in the non-profit sector, a move toward transparency was imminent.</p>
		<p>ONEArmenia was created in response to this need, and as its team grew, focusing on the active, tech-savvy youth seemed only natural. Patrick met Oksana Mirzoyan through James Tufenkian in Yerevan around this time as she crowd-funded her short film 140 Drams via Kickstarter.com, inspiring the organization’s present funding model. When the time came to set up a web domain in 2012, a search for onearmenia.org led to Narek Khachatryan in Los Angeles, who had purchased the domain after imagining a digital space where any and all Armenians could connect. Presenting projects visually was the next step, and Oksana brought on Anahid Yahjian, who had been making videos in Armenia since graduating from college—with a degree in English.</p>
		<p>Fast-forward to September 2012, and the Tufenkian Foundation became ONE’s first official partnering organization as Oksana oversaw the organization’s creative direction, Narek managed communications, and Anahid shot and edited video while writing content for the website--all from the cozy confines of the Green Bean cafe on Amiryan Street in Yerevan.</p>
		<p>Nearly a year since then, the organization has grown to include Tufenkian Foundation director Antranig Kasparian as its interim in-country manager, whose decades-long foothold in Armenia's development has proven invaluable in preparing David Bequette, part-owner of the Green Bean and witness to ONEArmenia's beginnings, to take on the position of in-country manager in summer 2013. Two final gems were added to the ONEArmenia family when Nane Toumanian, a prolific graphic designer who actually created the Green Bean cafe's logo, was flown back to Armenia from Paris and hired as full-time designer and Nora Kayserian, a human rights activist and educator, was brought on as PR manager.</p>
		<p>You know how they say Armenians are too superstitious for their own good? Well, if this isn't fate staring us all in the face, then we don't know what is.</p>
		<hr>
		<a class="btn btn-default btn-lg" href="/find-opportunity">Find an Opportunity</a>
		<a class="btn btn-default btn-lg" href="/get-started">Submit a Project</a>
	</div>

</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
