{% extends 'base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    
    <div class="container">
        
        <div class="row">

            <div class="col-xs-8">

                <h1>How it works</h1>

                <h3>1. Project Proposal and Review</h3>
                <p>Non-profit organizations with a commitment to efficient, transparent and sustainable operations in Armenia are our partners.  Proposed projects are reviewed for their potential impact, sustainability, the team involved and alignment with ONE's four focus categories: environmental, humanitarian, educational and cultural. After reviewing an applying organization's commitment to these practices, we decide their eligibility. Partnership is confirmed only after a suitable rating is established.  20% of total funds to be raised cover ONEArmenia's services: creation of a promotional video for every project, marketing across all major social media sites and transparent reporting of project implementation and progress.</p>

                <h3>2. Campaign Launch</h3>
                <p>Once a project is selected, the ONE team immediately sets things into motion. A one-minute video is shot and edited by our creative team and posted on the ONE website along with documentation validating the proposed costs. Donations are made through an IndieGoGo project page built and managed by us. E-mail blasts, Tweets and Facebook and Instagram posts are made regularly to publicize the project and attract donors.</p>

                <h3>3. Continuous Reporting</h3>
                <p>We track progress—closely. Each project’s timeline is split into three stages, during which funds are distributed a third at a time and are contingent upon successful inspection and review at the end of each stage. We track progress—by visiting the project site and ensuring that funds are being used as intended—and report back to donors at the beginning, middle and completion stages. Photographic and written documentation of project progress is made public on the ONEArmenia Projects page throughout. Yearly updates are also listed here after project completion.</p>

                <div class="get-started">
                    <a href="/organization/new" class="btn btn-primary btn-lg">Get started</a>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block bottomscript %}

{% endblock %}
