body {
    font-family: "Helvetica Neue", Helvetica, Verdana;
}
h1, h2, h3, h4, h5 {
    color: #003A40;
    font-family: "Helvetica Neue", Helvetica, Verdana;
    font-weight: normal;
}
h5 {
    color: #888888;
}
.pre {
    white-space: pre-wrap;
}
.container {
   width: 940px;
   max-width: none !important; 
}
.jumbotron {
    margin-top: -20px;
    width: 100%;
    border-radius: 0px;
}
.navbar {
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
.navbar-nav {
    margin-top: 10px;
}
.share:hover {
    text-decoration: none;
}
.share {
    margin:3px;
}
.navbar .navbar-brand img {
    width: 177px;
}
.navbar #auth {

}
.push-little {
    margin-top: 25px;
}
.thumnail-container {
    background: #fff;
    margin-bottom: 30px;
    height: 360px;
    box-shadow: 1px 2px 3px #808080;
    -moz-box-shadow: 1px 2px 3px #808080;
    -webkit-box-shadow: 1px 2px 3px #808080;
}
.thumnail-container:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    cursor: pointer;
}
.opportunities {
    
}
.opportunity {
    position: relative;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: #e9e9e9;
    margin-bottom: 16px;
    min-height: 365px;
}
.opp-thumb {
    padding: 3px;
    max-height: 142px;
    overflow: hidden;
}
.opp-thumb img {
    width: 204px;
    height: auto;

}
.opp-text {
    padding: 3px 8px;
}
.opp-name {
    margin-top: 14px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    line-height: 0em;
}
.opp-type {
    font-size: 12px;
    font-style: italic;
}
.opp-short-desc {
    font-size: 13px;
}
.opp-project-name {
    font-size: 13px;
    position: absolute;
    bottom: 0px;
}
.thumnail-container .name {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.thumnail-container .location a {
    margin-left: 5px;
}
.username {
    font-weight: bold;
}
.thumnail-container .project-name a {
    margin-left: 5px
}
.project-wrap {
    background: #fff;
    border-radius: 4px;
}
.project-wrap .project-title{
    height: 70px;    
}
.project-wrap .backstory {
    height: 100px;    
}
.project-lower-header {
    margin-top: 40px;
    height: 50px;
    font-size: 2em;
    font-weight: 100;
    /*background: #e7e7e7;*/
}      
.form-title {
    margin-left: 30px;
}
.text-center {
    text-align: center;
}
.opp-browse {
        background-color: #fff;
        padding: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        float: left;
}
.opp-small {
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:7px;
    margin:5px;
}
.project-small {
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:7px;
    margin:5px;
}
.project-img-small {
    padding:7px;
    height:100px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.vert-or {
    margin: 10px auto;
    text-align: center;
    width: 30px;
}
.vert-or div {
    height: 30px;
    border-left: 1px solid #999;
    width: 1px;
    margin: 0px auto;
}
.vert-or p {
    color: #555;
    position: relative;
    top: 4px;
    left: -6px;
    letter-spacing: 2px;
}
#login-modal .vert-or {
    margin-top: 27px;
}
#add-opportunity p.short-desc {
    margin-left: 10px;
    margin-bottom: 15px;
    line-height: 1em;
}
#add-opportunity p.name {
    font-weight: bold;
    line-height: 1em;
    margin-left: 10px;
}
#signup .well {
    margin: 25px 30px;
    width: 525px;
}
#signup #social-sign-in {
    text-align: right;
}
#signup #social-sign-in {
    margin: 10px 0px 0px 0px;
}
#login-modal .modal-dialog {
    width: 438px;
}
#login-modal form {
    margin-bottom: 0px;
}
#login-modal form input[type=text], #login-modal form input[type=password] {
}
.form-group .help-block.error {
    display: none;
    font-size: 13px;
}
.form-group.has-error .help-block.error {
    display: block;
}
#login-modal .forgot {
    clear: right;
    margin-top: 15px;
    font-size: 11px;
}
#manage-project input {
}
#edit-project textarea {
    height: 180px;
}
#manage-project input[readonly=readonly] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 3px;
}
#manage-project #project-name {
    font-size: 24px;
}
#manage-project #project-short-desc {
    font-size: 16px;
    margin-bottom: 20px;
}
#manage-project .wall {
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
#manage-project #edit-project p {
    position: relative;
}

#manage-project #edit-project p i {
    display: none;
    position: absolute;
    left: -18px;
    top: 6px;
}
#manage-project #edit-project #project-short-desc i {
    top: 4px;
}
#manage-project #edit-project p:hover i {
    display: inline;
}

/* post update */

.post-update {
  
}
.post-update .post-update-buttons {
    position: relative;
}
.post-update .media-file {
    position: absolute;
    top: 7px;
    z-index: 5;
    opacity: 0.0;
    width: 41px;
}
.post-update .submit-update {
    position: relative;
    z-index: 10;
}
.post-update textarea {
    width: 100%;
}

/* project panes */
.project {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 1px;
    height: 330px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 5px #808080;
    -moz-box-shadow: 5px 5px 5px #808080;
    -webkit-box-shadow: 5px 5px 5px #808080;
}
.project:hover {
    border-color: rgba(82, 168, 236, 0.8);
    cursor: pointer;
}
.project-image {
    height: 168px;
    overflow: hidden;        
    position: relative;
    margin-bottom: 10px;
}
.project-image img {
    height: 168px;
    width: 294px;
}
.project-cause {
    margin: 10px 0px 0px 5px;
    font-weight: bold;
}
.project-text .project-cause a {
     color: #4E7284;
}
.project-text {
    padding: 8px;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}
.project-text a {
    color: #0C3645; 
}
.project-name {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    line-height: 1em;
    margin-bottom: 10px;
}  
.project-status {
    margin-top: 10px;
}
.project-status .pie-chart {
    margin-left: 5px;
    max-width: 100px;   
}
.project-status needs {
    margin-left: 10px;
}

.project-location {
    position: absolute;
    font-weight: bold;
    bottom: 5px;
}
.project-location a {
    color: #4E7284; 
}
.modal-buttons {
    margin-top: 18px;
}
footer {
    margin-top: 25px;
    text-align: center;
}
.file-upload-ok {
    line-height: 0.4em !important;
    padding-left: 10px;
    color: green;
}

img.update-avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    vertical-align: top;
}
.opportunity-small {
    position: relative;
    background-color: #ededed;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 5px 15px 5px;
    height: 57px;
    color: #333;
}
.opportunity-small a {
    color: #333;
    text-decoration: none;
}
.opportunity-small .opp-name {
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.5em;

}
.opportunity-small .project-name {
    font-size: 12px;
}
.opportunity-small .opp-type {
    float: right;
}
.post-update-button {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: -2px;
    top: -10px;
    width: 20px;
    height: 20px;
    display: none;
}
.manage-project-button {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: 25px;
    top: -8px;
    width: 20px;
    height: 20px;
    display: none;
}
.manage-project-button a {
    color: #333;
}
.post-update-button a {
    color: #428bca;
}
.opportunity-small:hover .post-update-button, .project-small:hover .post-update-button {
    display: block;
}
.opportunity-small:hover .manage-project-button, .project-small:hover .manage-project-button {
    display: block;
}
.project-small {
    position: relative;
    margin: 15px 0px 15px 0px;
}
.project-small a {
    text-decoration: none;
}
.project-small h4 {
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}