body {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 200;
}
h1, h2, h3, h4, h5 {
    color: #003A40;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 300;
}
h5 {
    color: #888888;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  max-width: none !important;
  width: 970px;
}
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* end non-responsive overrides */

body>.alert {
    position: absolute;
    top: 0px;
    width: 100%;
}

.pre {
    white-space: pre-wrap;
}
.jumbotron {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar {
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    margin-bottom: 0px;
    border-radius: 0px;
}
.share:hover {
    text-decoration: none;
}
.share {
    margin: 3px;
}
.navbar .navbar-brand img {
    width: 140px;
    position: relative;
    top: -7px;
}
.push-little {
    margin-top: 25px;
}
.thumbnail-container {
    background: #fff;
    margin-bottom: 30px;
    height: 360px;
    box-shadow: 1px 2px 3px #808080;
    -moz-box-shadow: 1px 2px 3px #808080;
    -webkit-box-shadow: 1px 2px 3px #808080;
}
.thumbnail-container:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    cursor: pointer;
}
.page {
    margin-top: 35px;
}
.limit-status {
    float: right;
    font-size: 11px;
    font-family: helvetica, sans-serif;
    color: #777;
    position: relative;
    top: 8px;
    right: 2px;
}
.thumbnail-container .name {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.thumbnail-container .location a {
    margin-left: 5px;
}
.username {
    font-weight: bold;
}
.thumbnail-container .project-name a {
    margin-left: 5px
}
.project-wrap {
    background: #fff;
    border-radius: 4px;
}
.project-wrap .project-title {
    height: 70px;    
}
.project-wrap .backstory {
    height: 100px;    
}
.project-lower-header {
    margin-top: 40px;
    height: 50px;
    font-size: 2em;
    font-weight: 100;
    /*background: #e7e7e7;*/
}      
.form-title {
    margin-left: 30px;
}
.text-center {
    text-align: center;
}
.opp-browse {
    background-color: #fff;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    float: left;
}
.opp-small {
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:7px;
    margin:5px;
}


.vert-or {
    margin: 10px auto;
    text-align: center;
    width: 30px;
}
.vert-or div {
    height: 30px;
    border-left: 1px solid #999;
    width: 1px;
    margin: 0px auto;
}
.vert-or p {
    color: #555;
    position: relative;
    top: 4px;
    left: -6px;
    letter-spacing: 2px;
}
.admin-actions {
    background-color: rgb(255, 248, 163);
    height: 47px;
    padding: 11px 0px;
    font-size: 16px;
    border-bottom: 1px solid #D8D8D8;
}
.admin-actions span {
    font-weight: 400;
}
.admin-actions button {
    float: right;
    position: relative;
    top: -3px;
}
.overlay {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%);
    background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.overlay-light {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 80%, from(rgba(0,0,0,0.6)), to(rgba(233,233,233,1)));
    background: -webkit-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(233,233,233,1) 80%);
    background: -moz-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(233,233,233,1) 80%);
    background: -o-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(233,233,233,1) 80%);
    background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(233,233,233,1) 80%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f3f3f3', endColorstr='#fff3f3f3',GradientType=0 ); /* IE6-9 */
}
.fadethrough-light {
    background: -webkit-gradient(linear, 0 0, 0 70%, from(rgba(240,240,240,0)), to(rgba(240,240,240,1)));
    background: -webkit-linear-gradient(rgba(240,240,240,0) 0%, rgba(240,240,240,1) 70%);
    background: -moz-linear-gradient(rgba(240,240,240,0) 0%, rgba(240,240,240,1) 70%);
    background: -o-linear-gradient(rgba(240,240,240,0) 0%, rgba(249,240,240,1) 70%);
    background: linear-gradient(rgba(240,240,240,0) 0%, rgba(240,240,240,1) 70%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f3f3f3', endColorstr='#fff3f3f3',GradientType=0 ); /* IE6-9 */
}
/* home */

#home .jumbotron {
    background-image: url('http://s3.amazonaws.com/production-reallocate/splash/home_splash.jpg');
    background-size: cover;
}
#home #feature-unit {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.8;
    margin: 0px auto 0px auto;
    width: 469px;
}
#home #feature-unit h1 {
    font-size: 30px;
    width: 369px;
    margin: 20px auto 28px auto;
}
#home #feature-unit #give-icons {
    margin: 0px auto 0px auto;
    width: 366px;
}
#home #feature-unit .give-icon {
    font-size: 13px;
    float: left;
    width: 91px;
    text-align: center; 
}
#home h2 {
    text-align: center;
    margin: 0px auto 20px auto;
}
#home .browse-projects {
    text-align: center;
    margin: 0px auto 0px auto;
}

/* project */

#project .jumbotron {
    padding: 0px;
    background-size: cover;
    height: 270px;
    background-position: 0% 15%;
}
#project .jumbotron #project-title {
    position: relative;
    height: 100%;
}
#project .jumbotron #project-title h1 {
    color: #fdfdfd;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: normal;
}
#project .jumbotron #project-title .row {
    width: 100%;
    position: absolute;
    bottom: 12px;
}
#project .about {
    margin-bottom: 30px;
}
#project .about p {
    font-size: 16px;
}
#project .section-title {
    height: 50px;
    font-size: 2em;
    font-weight: 100;
}
#project .follower {
    margin-bottom: 3px;
}
#project .follower-thumbnail{
    width:25px;
    height:25px;
    margin-right:10px;
    margin-bottom:10px;
}
#project .opportunity .opp-project-name {
    display: none;
}
#project .opportunity .opp-location {
    display: none;
}

#opportunity .actions,
#project .actions {
    margin-top: 17px;
    margin-bottom: 20px;
}
#opportunity .addthis_toolbox,
#project .addthis_toolbox {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

/* updates */

.updates .update, 
.post-update {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
    position: relative;
}
.updates .update:last-child {
    border: none;
}
.updates .video iframe,
.updates .video object,
.updates .update object, 
.updates .update iframe,
#project .video iframe,
#project .video object {
    width: 100%;
    height: 328px;
}
.updates .update-username {
    clear: both;
    margin: 0px 0px 0px 0px;
}
.updates .update-username a {
    color: #333;
}
.updates .update-opp-name {
    color: #808080;
}
.updates .update-text {
    color: #333;
    margin-top: 10px;
    font-size: 16px;
    border-left: 2px solid #bbb;
    padding-left: 8px;
}
.updates .update-media {
    float: left;
    width: 40%;
    margin-right: 12px;
    margin-bottom: 10px;
}
.updates .update-media img {
    width: 100%;
}
.updates .edit-update {
    position: absolute;
    top: 0px;
    right: 0px;
}
.updates .edit-update a {
    margin-left: 6px;
}
.update .update-avatar {
    background-size: cover;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    display: inline-block;
}

/* opportunity */

#opportunity .jumbotron .overlay {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 100%);
    background: -moz-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    background-size: cover;
}

#opportunity .jumbotron {
    padding: 0px;
    background-size: cover;
    background-position: 33%;
    height: 100px;
}
#opportunity .jumbotron #opp-title {
    position: relative;
    top: 62px;
}
#opportunity .jumbotron #opp-title h1 {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-top: 0px;
    color: #eee;
}
#opportunity .jumbotron #opp-title h4 {
    margin-top: 18px;
    font-size: 15px;
}
#opportunity .opp-overview {
    margin-bottom: 20px;
}
#opportunity .opp-description {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
#opportunity .skill-icons {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 8px auto 0 auto;
    font-size: 13px;
}
#opportunity .give-icons {
    text-align: center;
    line-height: 1.2em;
}
#opportunity .give-icons i {
    font-size: 3.2em;
}

/* manage project */

#manage-project input[readonly=readonly] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 3px;
}
#manage-project #project-name {
    font-size: 24px;
}
#manage-project #project-short-desc {
    font-size: 16px;
    margin-bottom: 20px;
}
#manage-project .wall {
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
#manage-project .edit-project p {
    position: relative;
}
#manage-project .edit-project p i {
    display: none;
    position: absolute;
    left: -18px;
    top: 6px;
}
#manage-project .edit-project #project-short-desc i {
    top: 4px;
}
#manage-project .edit-project p:hover i {
    display: inline;
}
#manage-project .edit-project,
#manage-project .edit-opportunity {
    font-size: 13px;
}
#manage-project #image img {
    width: 288px;
}
#manage-project #project-name a {
    color: #333;
}
#manage-project .opportunity-small {
    margin-top: 0px;
}
#manage-project ul {
    list-style: none;
}
#manage-project table.opportunities {
    font-size: 16px;
}
#manage-project table.opportunities tr p.edit {
    visibility: hidden;
}
#manage-project table.opportunities tr:hover p.edit {
    visibility: visible;
}
#manage-project table.opportunities td:last-child {
    text-align: right;
}
#manage-project table.opportunities td:last-child .edit button {
    margin-left: 8px;
}
#manage-project table.opportunities .engagement {
    font-size: 12px;
}
#manage-project .engagement li a.remove {
    visibility: hidden;
    margin-left: 5px;
}
#manage-project .engagement li:hover a.remove {
    visibility: visible;
}

/* profile */

#profile .page {
    margin-top: 20px;
}
#profile .racing-stripe {
    position: absolute; 
    background-color: rgb(80,113,140); 
    width: 100%; 
    height: 76px; 
    z-index: -1;
    top: 52px;
}
#profile .profile-info {
    margin-bottom: 15px;   
}        
#profile .profile-info-header {
}
#profile .profile-header-edit {
}
#profile .profile-numbers {
    width: 100%;
    margin-top: 20px;
    background-color: #1c6845;
    background-image: url(/static/images/bgtexture2.png);
    color: #FFF;
}
#profile .bottom-profile-header {
    text-align: center;
}
#profile .username {
    margin-bottom: 32px;
    margin-top: 13px;
}
#profile h2 {
    letter-spacing: 2px;
    font-size: 28px;
    color: #eee;
    height: 30px;
}
#profile h3 {
    font-size: 20px;
}
#profile .user-details {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    padding-bottom: 16px;
    position: relative;
}
#profile .user-details p {
    text-align: right;
    font-size: 16px;
}
#profile .user-details .edit-details {
    position: absolute;
    bottom: -34px;
    right: 0px;
    font-size: 14px;
}
#profile .user-image {
    width: 215px;
    height: 215px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 22px;
    position: relative;
    box-shadow: 4px 4px 4px #444;
    -moz-box-shadow: 4px 4px 4px #444;
    -webkit-box-shadow: 4px 4px 4px #444;
}
#profile .user-image .file-upload-ok {
    font-size: 14px;
    position: relative;
    top: 1px;
}
#profile .user-image .delegate-file-upload {
    background-color: #333;
    color: #fff;
    opacity: 0.6;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}
#profile .user-image:hover .delegate-file-upload {
    display: inline-block;
}
#profile .bio {
    margin-top: 25px;
}
#profile .form-group {
    margin-bottom: 4px;
}

/* get-started */

#get-started .get-started-header h3 {
    border-right: 2px solid #727272;
}    
#get-started .get-started-header h4 {
    line-height: 1.6em;
}
#get-started .get-started-icons {
    margin-bottom: 45px; text-align: center;
}
#get-started .get-started-icons img {
    width: 100px;
}
#get-started .get-started-steps {
    margin-bottom: 65px; font-size: 1.2em; line-height: 1.4em;
}
#get-started .get-started-create-project {
    text-align: center;
    margin-bottom: 30px;
}
#get-started .get-started-create-project h3{
    margin-bottom: 45px;
}
#get-started .get-started-create-project a {
    padding: 20px; font-size: 1.5em;
}

/* new-organization */

#new-organization .vert-or {
    font-size: 20px;
    margin-top: 48px;
}
#new-organization .vert-or div {
    height: 100px;
}
#new-organization .vert-or p {
    top: 1px;
    left: -10px;
}
#new-organization .current-org {
    text-align: right;
}
#new-organization .current-org h4 {
    margin-top: 118px;
}
#new-organization .well {
    width: 700px;
}
#new-organization .twitter-typeahead {
  width: 100%;
}
#new-organization .typeahead,
#new-organization .tt-query,
#new-organization .tt-hint {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  outline: none;
  font-size: 14px;
  line-height: 1.428571429;
}
#new-organization .typeahead {
  background-color: #fff;
}
#new-organization .typeahead:focus {
  border: 2px solid #0097cf;
}
#new-organization .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#new-organization .tt-header {
  padding: 2px 10px 8px;
  margin: 0;
  font-size: 18px;
}
#new-organization .tt-hint {
  padding-left: 11px;
  color: #ccc
}
#new-organization .tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#new-organization .tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}
#new-organization .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
#new-organization .tt-suggestion p {
  margin: 0;
}
#new-organization .gist {
  font-size: 14px;
}

/* new-project */

#new-project .well {
    width: 550px;
}

/* add-opportunity */

#add-opportunity .section {
    border-right: 1px solid #ddd;
}
#add-opportunity .opportunity button,
#add-opportunity .opportunity .opp-project-name,
#add-opportunity .opportunity .opp-location {
    display: none;
}

/* find-opportunity */

#find-opportunity h3 {
    margin-top: 0px;
}
#find-opportunity .opportunity {
    height: 206px;
}
#find-opportunity .opportunity .opp-short-desc {
    height: 61px;
    overflow-y: hidden;
}

/* find-project */

#find-project h3 {
    margin-top: 0px;
}
#find-project .project {
    height: 290px;
}
#find-project .project-image {
    height: 120px;
}
#find-project .project-name {
    font-size: 18px
}
#find-project .project-short-desc,
#find-project .project-description {
    font-size: 14px;
}


/* about */

#about .jumbotron .overlay {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#about .jumbotron {
    padding: 0px;
    background-image: url('http://s3.amazonaws.com/production-reallocate/splash/about_splash.jpg');
    background-size: cover;
    background-position: 0px -340px;
    height: 270px;
}
#about h2 {
    margin-bottom: 25px;
}
#about p {
    font-size: 18px;
}

/* sign-up */

#sign-up .well {
    padding-top: 36px;
    width: 470px;
}
#sign-up .vert-or {
    margin-top: 25px;
}
#sign-up .form-group .help-block {
    display: none;
}
#sign-up .form-group.has-error .help-block {
    display: block;
}
#sign-up .sign-in {
    margin-top: 0px;
    line-height: 0em;
}

/* privacy */

#privacy .c4 {
    text-decoration: underline;
}
#privacy .c1 {
    font-weight: bold;
}

/* tou */
    
#tou .c0 {
    font-weight: bold;
}
#tou .c7 {
    text-decoration: underline;
}

/* modals */

#login-modal .vert-or {
    margin-top: 27px;
}
#add-opportunity p.short-desc {
    margin-left: 10px;
    margin-bottom: 15px;
    line-height: 1em;
}
#add-opportunity p.name {
    font-weight: bold;
    line-height: 1em;
    margin-left: 10px;
}
#signup .well {
    margin: 25px 30px;
    width: 525px;
}
#signup #social-sign-in {
    text-align: right;
}
#signup #social-sign-in {
    margin: 10px 0px 0px 0px;
}
#login-modal .modal-dialog {
    width: 438px;
}
#login-modal form {
    margin-bottom: 0px;
}
#login-modal form input[type=text],
#login-modal form input[type=password] {
}
.form-group .help-block.error {
    display: none;
    font-size: 13px;
}
.form-group.has-error .help-block.error {
    display: block;
}
#login-modal .forgot {
    clear: right;
    margin-top: 15px;
    font-size: 11px;
}
#edit-project textarea {
    height: 180px;
}

/* post update */

.post-update .post-update-buttons {
    position: relative;
}
.post-update .media-file {
    position: absolute;
    top: 7px;
    z-index: 5;
    opacity: 0.0;
    width: 41px;
}
.post-update .submit-update {
    position: relative;
    z-index: 10;
}
.post-update textarea {
    width: 100%;
}

/* project panes */
 
.project {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 1px;
    height: 330px;
    background-color: #f3f3f3;
    box-shadow: 5px 5px 5px #808080;
    -moz-box-shadow: 5px 5px 5px #808080;
    -webkit-box-shadow: 5px 5px 5px #808080;
    overflow: hidden;
}
.project a:hover {
    text-decoration: none;
}
.project:hover {
    border-color: rgba(82, 168, 236, 0.8);
    cursor: pointer;
}
.project .project-image {
    height: 160px;
    overflow: hidden;        
    position: relative;
    background-size: cover;
    display: block;
}
.project .project-cause {
    margin: 10px 0px 0px 5px;
    font-weight: bold;
}
.project .project-text .project-cause a {
     color: #4E7284;
}
.project .project-text {
    background-color: #f3f3f3;
    padding: 10px;
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    opacity: 0.95;
    color: #000;
}
.project .project-text a {
    color: #0C3645; 
}
.project .project-name {
    font-size: 22px;
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 2px;
}  
.project .project-short-desc,
.project .project-description {
    font-size: 17px;
}
.project .project-location {
    font-weight: 400;
    color: #4E7284;
    margin: 0px;
}
.project .project-location a {
    color: #4E7284; 
}
.project .project-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 25px 11px 5px 11px;
}

.project-small {
    position: relative;
    background-color: #f3f3f3;
    box-shadow: 5px 5px 5px #808080;
    -moz-box-shadow: 5px 5px 5px #808080;
    -webkit-box-shadow: 5px 5px 5px #808080;
    margin: 15px 0px 15px 0px;
    height: 92px;
}
.project-small a {
    color: #333;
    text-decoration: none;
}
.project-small h4 {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}
.project-small .project-image {
    width: 92px;
    height: 92px;
    background-size: cover;
    float: left;
    margin-right: 8px;
}
.project-small .project-text {
    padding: 6px 8px;
}
.project-small .project-location {
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 4px;
    right: 6px;
    margin: 0px;
}


.opportunity {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 16px;
    height: auto;
    font-size: 12px;
}
.opportunity .opp-image {
    height: 80px;
    border-radius: 5px;
    background-size: cover;
    background-position: 30% 30%;
}
.opportunity .opp-text {
    padding: 3px 8px 10px 8px;
}
.opportunity .opp-text.has-image {
    margin-top: -32px;
}
.opportunity .opp-name {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.2em;
}
.opportunity .opp-text.has-image .opp-name {
    margin-bottom: 15px;
}
.opportunity .opp-text.has-image .opp-name a {
    color: #eee;
}
.opportunity .opp-type {
    font-size: 12px;
    font-style: italic;
}
.opportunity .opp-short-desc, 
.opportunity .opp-desc {
    font-size: 14px;
}
.opportunity .opp-project-name {
    font-size: 13px;
    margin-bottom: 2px;
}
.opportunity .opp-location {
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 4px;
    right: 6px;
    margin: 0px;
}


.opportunity-small {
    position: relative;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0px 15px 0px;
    color: #333;
    height: 92px;
}
.opportunity-small a {
    color: #333;
    text-decoration: none;
}
.opportunity-small .opp-name {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.1em;

}
.opportunity-small .opp-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    float: left;
    margin-right: 10px;
}
.opportunity-small .project-name {
    font-size: 12px;
}
.opportunity-small .opp-type {
    float: right;
}
.opportunity-small .project-location {
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 4px;
    right: 6px;
    margin: 0px;
}



.post-update-button {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: -2px;
    top: -10px;
    width: 20px;
    height: 20px;
    display: none;
}
.manage-project-button {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: 25px;
    top: -8px;
    width: 20px;
    height: 20px;
    display: none;
}
.manage-project-button a {
    color: #333;
}
.post-update-button a {
    color: #428bca;
}

.modal-buttons {
    margin-top: 18px;
}
footer {
    margin-top: 25px;
    text-align: center;
}
footer p {
    font-size: 16px;
}
.file-upload-ok {
    line-height: 0.4em !important;
    padding-left: 5px;
    position: relative;
    top: 5px;
    color: green;
}


#confirmation-modal .modal-dialog {
    width: 300px;
}
#confirmation-modal .modal-content {
    padding: 10px;
}

#sponsor-project-modal .modal-dialog {
    width: 300px;
}
#sponsor-project-modal h3 {
    font-size: 20px;
    margin-top: 5px;
}
#sponsor-project-modal h4 {
    font-size: 16px;
}
#sponsor-project-modal .modal-header {
    padding: 12px 20px 6px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(250,250,250);
}
#sponsor-project-modal .modal-body {
    padding: 12px 32px 32px 32px;

}
#sponsor-project-modal .cvc {
    width: 60px;
}
#sponsor-project-modal .calendar {
    border-left: none;
    border-right: none;
}
#sponsor-project-modal .input-group {
    margin-bottom: 8px;
}
#sponsor-project-modal button[type=submit] {
    margin-top: 20px;
}
#sponsor-project-modal .payment-errors {
    clear: both;
    color: rgb(197, 32, 32);
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: -18px;
    display: block;
}
