{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron"></div>
{% endblock %}

{% block content %}

<div class="container">

	<div class="col-xs-7">
		<h2>A temporary space for lasting change</h2>
		<hr>
		<a class="btn btn-default btn-lg" href="/find-opportunity">Find an Opportunity</a>
		<a class="btn btn-default btn-lg" href="/project/new?org={{ SITE_ORG_ID }}">Submit a Project</a>
	</div>

</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
