@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url("https://s3-eu-west-1.amazonaws.com/onearmenia/fonts/BebasNeue.otf") format("opentype");
}
body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    font-family: BebasNeue, Arial;
    color: #555;
}
.navbar {
    font-size: 15px;
    background-color: rgb(240,240,240);
}
.navbar-default .navbar-nav>li>a {
    color: #333;
}
.navbar .navbar-brand img {
    top: -1px;
}
#home .jumbotron {
	background-color: rgb(16,194,192);
    background-image: url('//s3-eu-west-1.amazonaws.com/onearmenia/images/onearmenia-logo-square-200.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
/* about */

#about .jumbotron .overlay {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#about .jumbotron {
    padding: 0px;
    background-image: url('');
    background-size: cover;
    background-color: rgb(254,173,39);
    background-position: 0px -365px;
    height: 90px;
}
#about h2 {
    margin-bottom: 20px;
}
#about p {
    font-size: 18px;
}
#about a.btn {
	margin-right: 10px;
}
#about footer p {
	font-size: 16px;
}
#get-started .get-started {
    text-align: right;
    padding-top: 10px;
}