{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}


{% block maincontent %}
    
    <div class="row-fluid">
        
        

        <h1>About ReAllocate</h1>

<p>
ReAllocate is a global network of world class engineers, designers and entrepreneurs empowering under served communities through technology and innovation to improve quality of life. ReAllocators engage in digital storytelling to inspire participation, promote collaboration, and raise awareness about humanitarian causes.
</p>

<h2>
Program Areas
</h2>

<p>
ReAllocate supports three program areas that intertwine to create an infrastructure that supports sustainable development through education, ecosystems, equality, and economics.

</p>

<h2>
Innovation Centers
</h2>

<p>
ReAllocate's capacity building initiative. Innovation Centers provide resources, expertise and training for sustainable economic and community development. Local facilities are converted into workshops, equipped with modules needed to create a development base (internet enabled computer labs, health centers, energy generation sites, etc.). These centers serve as hubs for 10-week intensive innovation programs where in-country fellows are paired one-on-one with expert mentors and coached though rapid prototyping, market testing and building a social business model.
</p>

<p>
The trials of these innovative local start ups are documented and published online. A member of each cohort receives digital media training and follows each fellow through their trials and tribulations. The failures and successes are documented and provide fellows with a succinct video pitch for impact investing. Fellows are given direct follow up support for a period of time as they incubate their businesses.
</p>

ReAllocate Alaska will be the site of the first ReAllocate Innovation Center.
Tech-AID 

TechAID is Technology Assessment Innovation and Delivery. ReAllocate accepts requests from nonprofits for technological assistance. The requests and organizations are vetted before entering into the Tech-Aid program. ReAllocate only engages projects with clearly defined technical obstacles from credible organizations. After acceptance, a team of ReAllocators are specifically chosen, assigned to the project, equipped with the tools and resources they need provided by our sponsors, and move through the Tech-Aid design process to deliver a user driven solution.

See a TechAID project in action with Miracle Brace
Education Access

The Education Access program pairs experienced engineers, technologists, artists and other "making" professionals with youth in our local community using a classic one-on-one mentorship model.  These hands-on experiences introduce students to professional fields, while at the same time providing a mentorship experience through being part of problem solving - working projects that have a direct impact on current world issues.  The mentor relationship enables leading edge experts to provide guidance that is accessible, intriguing and encouraging for these students. The direct involvement builds a sense of accomplishment driving their future endeavors, creativity and motivation to become leaders and problem solvers in their lives.

Watch how Education Access works with at risk youth to provide new opportunities in Printing the Future


    </div>

{% endblock %}


{% block bottomscript %}

{% endblock %}
