{% extends 'theme/base.html' %}

{% block extra_css %}
<style>
    body {
    }
    .jumbotron .overlay {
        height: 100%;
        width: 100%;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
        background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .jumbotron {
        padding: 0px;
        background-image: url('/static/images/flickr_sunset.jpg');
        background-size: cover;
        background-position: 0px -340px;
        height: 270px;
    }
    
    #about-sections .give-icon {
        font-size: 13px;
        float: left;
        width: 91px;
        text-align: center;
    }
</style>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" style="margin-bottom: 0;">

</div>
{% endblock %}

{% block content %}

<div id="about-sections">

    <div class="section" style="background-color: #507383;">
	<div class="container">
		<div class="row" style="padding: 45px 30px;">
		    <div class="col-7" style="float:left;"><p style="font-size: 3em;">Connecting People with Purpose</div>
		</div>
        </div>
    </div>
    <div class="section">
	<div class="container">
		<div class="row" style="padding: 45px 30px;">
<div style="font-size: 16px;"><p>ReAllocate connects people with purpose to make a more equal and just world.</p>

<p>We connect projects focused on providing social good with innovators, engineers, developers, storytellers, mentors, visionaries, and backers who want to collaborate to create world changing innovations.</p>

<p>We want to invite you to join the community and connect with other people like you who want to use their skills, knowledge, and resources to make the world a better place. Sign up or submit your project today and get an early invite to collaborate with other world changers driving social innovation.</p>

<a class="btn btn-primary" href="/get-started">Submit a Project</a><br/><br/>

<a class="btn btn-primary" href="/find-opportunity">Find an Opportunity</a>

</div>
		</div>
        </div>
    </div>


</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
