{% extends 'theme/base.html' %}

{% block extra_css %}
<style>
    body {
    }
    .jumbotron .overlay {
        height: 100%;
        width: 100%;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
        background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .jumbotron {
        padding: 0px;
        background-image: url('/static/images/flickr_sunset.jpg');
        background-size: cover;
        background-position: 0px -340px;
        height: 270px;
    }
</style>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">

</div>
{% endblock %}

{% block content %}

<div class="container">
    <h2>Connecting World Class Talent with Real World Problems.</h2>
    
    <p>Lets create and share action!</p>
    
    <p>There are people like you all over the world who are trying to make a difference in their community, one project at a time.</p> 
    
    <p>Post your project and give the community opportunities to plug in their skills, knowledge, in-kind resources and financial capital.</p>
    
    <p>Build a team of supporters contributing their most valuable resource, their time.</p>
    
    <p>Share the impact your team is making in the world!</p>
        
    <a class="btn btn-primary" href="/get-started">Submit your Project</a>
    
</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
