{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}


{% block extra_css %}
    <style>
    #add-opportunity {
        border-right: 1px solid #ddd;
    }
    .opportunity {
        height: auto;
        min-height: 10px;
        padding: 5px;
        font-size: 12px;
        clear: both;
    }
    .opportunity img {
        width: 125px;
        height: 125px;
        float: left;
        margin: 0 10px 10px 0;
    }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <h3>Add Opportunity for {{ project.name }}</h3>
    <div class="well">

        <div class="row">

            <div class="col-xs-7" id="add-opportunity">

                <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Opportunity Title</label>
                    <input class="form-control required" type="text" id="name" name="name">
                    <span class="help-block">Please provide a title</span>
                </div>
                <div class="form-group">
                    <label for="opp-type">Type</label>
                    <select class="form-control required" id="opp-type" name="opp_type">
                        <option value=''>Select</option>
                        <option>Equipment</option>
                        <option>Knowledge</option>
                        <option>Money</option>
                        <option>Skills</option>
                    </select>
                    <span class="help-block">Please select a opportunity type</span>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input class="form-control required" type="text" id="tags" name="tags" placeholder="a list of related tags">
                    <span class="help-block">ie. Electrical Engineering, Business Consultation, Water Conservation, etc.</span>
                </div>
                <div class="form-group">
                    <label for="short-desc">Short Description</label>
                    <input class="form-control required" type="text" id="short-desc" name="short_desc" placeholder="a brief, one-line description">
                    <span class="help-block">Please provide a brief description</span>
                </div>
                <div class="form-group">
                    <label for="description">Full Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="resources">Resources</label>
                    <textarea class="form-control" id="resources" name="resources"></textarea>
                    <span class="help-block">comma separated list of URLs</span>
                </div>
                <div class="form-group">
                        <label for="name">Add an Image</label> (optional)<br/>
                        <button class="delegate-file-upload btn btn-default">Select Image</button>
                        <i class="icon-ok icon-2x file-upload-ok" style="display: none;"></i>
                        <input type="file" name="file" id="file" value="Upload a new photo" style="display: none;">
                </div>
                <div class="form-group pull-right">
                    <button type="button" onclick="add_another(this)" class="btn btn-primary">Add</button>
                    <button type="submit" class="btn btn-primary">Done</button>
                </div>
                </form>
            </div>

            <div class="col-xs-5">
                <h4>Current Opportunities</h4>
                {% if opportunities %}
                {% for opportunity in opportunities %}
                <div class="opportunity">
                    {% if opportunity.media_url %}
                    <img src="{{ opportunity.media_url }}" />
                    {% endif %}
                    <p class="name"><b>{{ opportunity.name }}</b><p>
                    <p class="short-desc">{{ opportunity.short_desc}}</p>
                </div>
                {% endfor %}
                {% else %}
                <p>None</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottomscript %}
<script>
function add_another(e) {
    var form = $(e).parents('form')[0];
    var i = $("<input/>").attr('type', 'hidden').attr('name', 'add').attr('value', '1');
    $(form).append(i);
    if (reAllocate.validateForm(form)) $(form).submit();
}
</script>
{% endblock %}
