{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}



{% block maincontent %}


    <h1></h1>


    <div class="container-fluid">
        <div class="row-fluid">
            <br>
            <h2>Create an opportunity for: {{ parent_project.name }} </h2>
            <br>

        </div>
        <div class="row-fluid">

            <div class="span12 left">

                {% if show_form %}
                    <form id="signup-form" class="form-horizontal" method="post">{% csrf_token %}

                        {% for field in myform %}

                            <div class="control-group">
                                <label class="control-label" for="input{{ field.label }}">{{ field.label }}</label>

                                <div class="controls">
                                    {{ field }}
                                </div>
                            </div>

                        {% endfor %}

                        <div class="control-group">
                            <div class="controls">
                                <input class="btn btn-warning" type="submit" value="Save"/>
                            </div>
                        </div>

                    </form>
                {% else %}
                    <h3>Thank you. We will contact you soon.</h3>
                {% endif %}
            </div>

        </div>
    </div>


{% endblock %}

{% block bottomscript %}

{% endblock %}
