{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}


{% block extra_css %}
{% endblock %}

{% block widecontent %}

<div class="container">

    <div class="row-fluid">
        <div class="span10">
            <h3>Add Opportunity</h3>
            <h5>{{ project.name }}</h5>
        </div>
    </div>

    <div class="row-fluid" id="add-opportunity">
        <div class="span5">
            <form class="form-horizontal" method="post">
                <div class="control-group">
                    <label class="control-label" for="name">Opportunity Title</label>
                    <div class="controls">
                        <input type="text" id="name" name="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="opp-type">Type</label>
                    <div class="controls">
                        <select id="opp-type" name="opp_type">
                            <option>Select</option>
                            <option>Equiptment</option>
                            <option>Knowledge</option>
                            <option>Money</option>
                            <option>Skills</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="short-desc">Short Description</label>
                    <div class="controls">
                        <input type="text" id="short-desc" name="short_desc" placeholder="a brief, one-line description">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Full Description</label>
                    <div class="controls">
                        <textarea id="description" name="description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" onclick="add_another(this)" class="btn">Add another</button>
                        <button type="submit" class="btn">Done</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="offset1 span5">
            {% if opps %}
            <h4>Current opportunities</h4>
            {% for o in opps %}
            <div class="opportunity">
                <p class="name"><b>{{ o.name }}</b><p>
                <p class="short-desc">{{ o.short_desc}}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block bottomscript %}
<script>
function add_another(e) {
    var form = $(e).parents('form')[0];
    var i = $("<input/>").attr('type', 'hidden').attr('name', 'add').attr('value', '1');
    $(form).append(i);
    $(form).submit();
}
</script>
{% endblock %}
