<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{% block title %}ReAllocate{% endblock %}</title>

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}theme/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}/images/favicon.png">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?16">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">

    {% include 'includes/base_head.html' %}
      
    {% block extra_css %}
    {% endblock %}

</head>
<body id="{{ URL_NAME }}">
    {% include 'top_nav.html' %} 
    {% if alert %}
    {% ifequal alert.type 'modal' %}
    <div id="alert-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content clearfix">
                 <h4>{{ alert.message|safe }}</h4>
                 <button class="btn btn-default pull-right" data-dismiss="modal">Awesome!</button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert fade in alert-{{ alert.type|default:'info' }} alert-dismissable">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ alert.message|safe }}
    </div>
    {% endifequal %}
    {% endif %}

    {% block jumbotron %}
    {% endblock %}

    <div class="page">
    {% block content %}
    {% endblock %}
    </div>
{{ request }}
    <footer class="container">
        <p>&copy; 2014 ReAllocate, 501c3. <a href="/privacy">Privacy</a> &middot; <a href="/tou">Terms of Use</a></p>
    </footer>

    {% include "includes/login_modal.html" %}
    {% include "includes/confirmation-modal.html" %}
    {% if INVITE_ONLY %}{% include "includes/invite-users-modal.html" %}{% endif %}
    {% block modals %}{% endblock %}  

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/lodash.underscore.min.js?r=1"></script>
<script src="{{ STATIC_URL }}js/libs/typeahead.min.js?r=1"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.min.js?r=1"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-placeholder.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-confirmation.js"></script>
<script src="{{ STATIC_URL }}js/main.js?6"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b5379c6ba6d63e"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script>
// set stripe api key
Stripe.setPublishableKey('{{ STRIPE_PUB_KEY }}');

{% if user %}reAllocate.user = "{{ user.username }}";{% endif %}

{# {% if not request.user.is_staff %} #}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38925689-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
{# {% endif %} #}
</script>

{% block bottomscript %}
{% endblock %}

</body>
</html>
