{% extends "theme/base.html" %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}


{% block extra_css %}
    <style>
    .opp_wrap{
        padding-bottom: 10px;
    }
    </style>
{% endblock %}

{% block maincontent %}

    <div class="container">
        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-home"><a href="/project/{{ opp.project.id }}">{{ opp.project.name }}</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-home"><a href="/project/{{ opp.id }}">{{ opp.name }}</a></li>
        </ul>
    </div>

    <div class="opp_wrap container">
        <div class="row">
            <div class="span3">
                <img src="{{opp.media_url}}"/>
            </div>
    
            <div class="span9">
                <div class="opp_title">
                    <h1> {{ opp.name }}   </h1>
                    <h2>{{ opp.project.name }}</h2>
                    {{ opp.description }}<br/>
                </div>
    
            </div>
        </div>
    </div>


    <div class="row opp_lower">
        <form method=POST>
            <div class="control-group">
                <label for="response"><b><b>Your Response:</b></label>
                <textarea style="width:500px;height:300px;" name="response"></textarea>
            </div>
            <input type="submit" value="Engage!"/>
        </form>
    </div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
