{% extends 'theme/base.html' %}
{% load i18n %}

{% block meta_description %}Find opportunities{% endblock %}

{% block extra_css %}
<style>

</style>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Find Opportunity</li>
	</ul>
{% endblock %}

{% block content %}
	<div class="container">
		
		<div class="row">
			<div class="col-xs-9">
				<h3>
					{% if search_term %}
						Results for {{ search_term }} {% if search_filter %} in {{ search_filter }} {% endif %}...
					{% else %}
						All Opportunities
					{% endif %}
				</h3>
				<div class="opportunities">
					<div class="row">
						{% for opportunity in opportunities %}
						<div class="col-xs-4">
							{% include "includes/opportunity-pane.html" %}			
						</div>	
						{% endfor %}
					</div>	
				</div>
			</div>
			<div class="col-xs-3">
				<form method="post" role="form">{% csrf_token %}
					<div class="form-group">
						<input class="form-control" type="text"  name="search" id="search" placeholder="Search terms" {% if search_term and search_term != "All" %}value='{{ search_term }}'{% endif %}/>
					</div>
					<div class="form-group">
						<select name="opp_type" id="type" class="form-control">
							<option value="">All types</option>
							<option {% if type == "Skills" %}selected=selected{% endif %}value="Skills">Skills</option>
							<option {% if type == "Knowledge" %}selected=selected{% endif %}value="Knowledge">Knowledge</option>
							<option {% if type == "Equipment" %}selected=selected{% endif %}value="Equipment">Equipment</option>
							<option {% if type == "Money" %}selected=selected{% endif %}value="Money">Money</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block bottomscript %}
{% endblock %}
