{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block extra_css %}{% endblock extra_css%}

{% block content %}
    <div class="container">
        <div class="row" style='margin-bottom:50px;'>
        	
			<form method="post">
				<div class="form-group">
					<label for="email">Enter the email address you signed up for Reallocate with.</label>
					<input class="form-control" type="text" name="email" id="email" placeholder="Email Address" style='width:500px;' value='{{ email }}'>
				</div>
				<b>We will reset your password and send you an email containing instructions to choose a new password.</b><br/><br/>
				<input type='submit' value='Reset your password' class="btn btn-info"/>
        	</form>
			
        </div>
		
			
		
    </div>
{% endblock content %}
