{% extends BASE_TEMPLATE %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block extra_css %}
<style>
.form-group .help-block.error {
	display: block;
	color: red;
}
</style>
{% endblock extra_css%}

{% block content %}
    <div class="container">

        <div class="row">
        	
        	<div class="col-xs-offset-2 col-xs-5">

				<form method="post" class="well">{% csrf_token %}
					<div class="form-group">
						<label for="email">Forgot your password?  Let's send you a new one.</label>
						<input class="form-control" type="text" name="email" id="email" placeholder="Enter your email address">
						{% if invalid_email %}
						<span class="help-block error">We have no record of that email address.</span>
						{% endif %}
					</div>
					<div class="form-group">
						<input type="submit" value="Submit" class="btn btn-primary" />
					</div>
	        	</form>

	        </div>
        </div>
    </div>
{% endblock content %}
