{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}


{% block maincontent %}
    
    <div class="row-fluid">
        
        

        <h1>What to do here</h1>
        <div>
            "Many hands makes for light work."<br/>
            Find opportunities to use your skills and resources to help projects working to improve the world.<br/>
            Organizations, breakdown your projects into bit sized tasks that people can complete.
            
        </div>
        
        <h3>I have an organization with opportunities for people to help, what should I do?</h3>
        <div>
            <ol>
                <li>Create an account</li>
                <li>Create your Organization</li>
                <li>Create a project</li>
                <li>Create opportunities</li>
            </ol>
            <a href="/get-started" class="btn btn_primary">Get Started</a>
        </div>



{% endblock %}


{% block bottomscript %}

{% endblock %}
