{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}


{% block maincontent %}
    
    <style>
        .get-started-header {margin: 30px 0px;}
        .get-started-header h3 {border-right: 2px solid #727272;}    
        .get-started-header h4 {line-height: 1.6em;}
        .get-started-icons {margin-bottom: 45px; text-align: center;}
        .get-started-icons img {width: 100px; }
        .get-started-steps {margin-bottom: 65px; font-size: 1.2em; line-height: 1.4em;}
        .get-started-create-project {text-align: center;}
        .get-started-create-project h3{margin-bottom: 45px;}
        .get-started-create-project a {padding: 20px; font-size: 1.5em;}

    </style>
    
    <h1>Get Started</h1>
    
    <div class="row-fluid get-started-header">

        <div class="span6"><h3>Would you like to build a thriving community of world class volunteers for your non profit or social venture?</h3></div>       
        <div class="span6"><h4>ReAllocate helps you connect with world class talent. ReAllocators can provide engineering, design, development, storytelling and business support for your projects.</h4></div>
    </div>
        <div class="row-fluid get-started-icons">
        <div class="span3"><img src="/static/images/get-started-lightbulb.jpg"/></div>
        <div class="span3"><img src="/static/images/get-started-opportunities.jpg"/></div>
        <div class="span3"><img src="/static/images/get-started-search.jpg"/></div>
        <div class="span3"><img src="/static/images/get-started-handshake.jpg"/></div>
    </div>
    <div class="row-fluid get-started-steps">
        <div class="span3"><strong>Post your project</strong> and tell your story about how to make the world a better place.</div>
        <div class="span3"><strong>Create opportunities</strong> for people to provide their skills to your meaningful project.</div>
        <div class="span3"><strong>ReAllocate searches the community</strong> and finds people with skills, knowledge and resources.</div>
        <div class="span3"><strong>You connect with ReAllocators</strong> who have a passion for your cause and the ability to help.</div>
    </div>
    
    <div class="get-started-create-project">
        <h3>Post your project now and start building a thriving community of ReAllocators</h3>
        <a href="/organization/new" class="btn btn-primary login-required">Post your project</a>

    </div>



{% endblock %}


{% block bottomscript %}

{% endblock %}
