{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
<style>
    
    .navbar .nav {
        margin: 10px 10px 0 0;
    }
    
    .feature_container {
        height: 400px;
        margin-top: 60px;  
    }
    
    .home_feature_slider {
        
    }
    .opportunties_row {
        margin-top: 30px;
    }
    
    .opportunity_container {
        height: 360px;
        box-shadow: 2px 2px 7px #5e5e5e;
        -moz-box-shadow: 2px 2px 7px #5e5e5e;
        -webkit-box-shadow: 2px 2px 7px #5e5e5e;
    }

    .opportunity_lower {
        padding: 10px;   
    }
    
    .opportunity_lower .location {
        margin-top: 10px;
    }
    
    .opportunity_lower .organization {
        margin-top: 10px;
    }
    
    footer {
        margin-top: 30px;
    }
</style>
{% endblock %}

{% block maincontent %}

        <div class="row">
            <div class="span12 feature_container">
                <div class="home_feature_slider">
                    <img src="/static/images/slider1.png"/>
                </div>
            </div>
        </div>
        
        <div class="row opportunties_row">
            <div class="span3">
                <div class="opportunity_container">
                    <div class="opportunity_thumb">
                        <img src="/static/images/darkearth.png"/>
                    </div>
                    <div class="opportunity_lower">
                        <div class="opportunity_short_desc">
                            Create a new global marketplace to move the world from money to meaning. Connect people with opportunities to use their skills for good!<span class="learn_more"> <a href="">Learn more...</a></span>
                        </div>
                        <div class="location">
                            <a href="">San Francisco, CA</a>
                        </div>
                        <div class="organization">
                            <a href="">ReAllocate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">asdf</div>
            <div class="span3">asdf</div>
            <div class="span3">asdf</div>
        </div>


{% endblock %}

{% block bottomscript %}
{#    <script src="/static/js/main.js"></script>#}
{% endblock %}

