{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
<style>
    
    .navbar .nav {
        margin: 10px 10px 0 0;
    }
    
    .feature_container {
        height: 400px;
        margin-top: 60px;  
    }
    
    .home_feature_slider {
        background: url('/static/images/hero.png');
        height: 300px;
    }
    .opportunties_row {
        margin-top: 30px;
    }
    
    .opportunity_container {
        height: 360px;
        box-shadow: 2px 2px 7px #5e5e5e;
        -moz-box-shadow: 2px 2px 7px #5e5e5e;
        -webkit-box-shadow: 2px 2px 7px #5e5e5e;
    }

    .opportunity_lower {
        padding: 10px;   
    }
    .opportunity_lower .name {
        font-weight: bold;
    }

    .opportunity_lower .short_desc {
        margin-top:5px;
        min-height: 90px;
    }
    
    .opportunity_lower .location {
        margin-top: 5px;
    }
    .opportunity_lower .location a{
        margin-left: 5px;
    }
    
    .opportunity_lower .organization {
        margin-top: 5px;
    }

    .opportunity_lower .organization a{
        margin-left: 5px;
    }    
    footer {
        margin-top: 30px;
    }
</style>
{% endblock %}


{% block hero %}
    <div class="home_feature_slider"></div>
{% endblock %}
{% block maincontent %}

        
        <div class="row opportunties_row">
            {% for opportunity in opportunities %}
                <div class="span3">
                    <div class="opportunity_container">
                        <div class="opportunity_thumb">
                            <img src="/static/images/darkearth.png"/>
                        </div>
                        <div class="opportunity_lower">
                            <div class="name">
                                {{ opportunity.name }}   
                            </div>
                            <div class="short_desc">
                                {{ opportunity.description }}   
                            </div>
                            <div class="location">
                                <div class="icon-map-marker"></div><a href="">San Francisco, CA</a>
                            </div>
                            <div class="organization">
                                <div class="icon-globe"></div><a href="">ReAllocate</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}

{% block bottomscript %}
{#    <script src="/static/js/main.js"></script>#}
{% endblock %}

