{% extends 'theme/base.html' %}
{% load i18n %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}ReAllocate{% endblock %}

{% block extra_css %}
<style>
    body {
    }
    .jumbotron {
        background-image: url('/static/images/flickr_volunteer.jpg');
        background-size: cover;
    }
    #feature-unit {
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 5px;
        opacity: 0.8;
        margin: 0px auto 0px auto;
        width: 469px;
    }
    #feature-unit h1 {
        font-size: 35px;
        margin-bottom: 28px;
        width: 369px;
        margin: 25px auto;
    }
    #feature-unit #give-icons {
        margin: 0px auto 0px auto;
        width: 366px;
    }
    #feature-unit .give-icon {
        font-size: 13px;
        float: left;
        width: 91px;
        text-align: center; 
    }
    h2 {
        text-align: center;
        margin: 0px auto 20px auto;
    }
</style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div id="feature-unit">            
                <h1>You Have a Lot to Give</h1>
                <div id="give-icons">
                    <div class="give-icon"><i class="icon-star icon-4x"></i><br/>Skills</div>
                    <div class="give-icon"><i class="icon-book icon-4x"></i><br/>Knowledge</div>
                    <div class="give-icon"><i class="icon-cogs icon-4x"></i><br/>Equipment</div>
                    <div class="give-icon"><i class="icon-money icon-4x"></i><br/>Money</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> 
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- <div class="row home-search">
            <form action="" method="post">{% csrf_token %}
                    <input type="text"  name="search" id="search" value="Search..."onclick="if(this.value=='Search...'){this.value=''}"
                    onblur="if(this.value==''){this.value='Search...'}">
                    <select name="opp_type" id="opp_type">
                    <option value="">Search By:</option>
                    <option value="Skills">Skill set</option>
                    <option value="Knowledge">Knowledge</option>
                    <option value="Equipment">Equipment</option>
                    <option value="Money">Money</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="Search">
            </form>
        </div> -->
        
        <h2>Choose a project and share your passion</h2>
        
        <div class="row projects">
            {% for project in projects %}
            <div class="col-4">
                {% include "includes/project-pane.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block bottomscript %}

{% endblock %}