{% extends 'theme/base.html' %}
{% load i18n %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}ReAllocate{% endblock %}

{% block extra_css %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div id="feature-unit">            
                <h1 style="text-align:center;">World Class Hookers</h1>
                <div id="give-icons">
                    <div class="give-icon"><i class="fa fa-star fa-4x"></i><br/>Skills</div>
                    <div class="give-icon"><i class="fa fa-book fa-4x"></i><br/>Knowledge</div>
                    <div class="give-icon"><i class="fa fa-cogs fa-4x"></i><br/>In Kind</div>
                    <div class="give-icon"><i class="fa fa-money fa-4x"></i><br/>Money</div>
                </div>
                <div class="clearfix"></div>
                <h1 style="text-align:center;">Real World Solutions</h1>
            </div>
        </div> 
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        
        <h2>Projects that need your help</h2>
        
        <div class="row projects">
            {% for project in projects %}
            <div class="col-xs-4">
                {% include "includes/project-pane.html" %}
            </div>
            {% endfor %}
        </div>

        <h4 class="browse-projects"><a href="/find-project">Browse all projects</a></h4>
    </div>
{% endblock %}

{% block bottomscript %}

{% endblock %}