{% extends 'theme/base.html' %}
{% load i18n %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}ReAllocate{% endblock %}

{% block extra_css %}
<style>
    body {
        padding-top: 60px !important;   /*for our hero unit*/
    }
    .feature_container {
        height: 400px;
        margin-top: 60px;  
    }
    
    .home_feature_slider {
        background: url('/static/images/home-banner.png');
        background-size: 1500px 500px;
        margin: 0 0 20px;
        height: 375px;
    }

    .home-search {
        margin: 0 0 20px;
    }
    .home-slogan {
        margin: 0 0 20px;
        text-align: center;
    }
    
    footer {
        margin-top: 30px;
    }
    
    #hero-content {
        margin-top: 75px;
        padding: 10px;
        background-color:rgba(232, 232, 232, 0.9);
        border-radius: 3px;
        text-align: center;
    }
    
    #hero-content .give-icons {
        color: #f2736a;
        float: left;
        padding: 0 10px;
    }
</style>
{% endblock %}


{% block hero %}
    <div class="home_feature_slider">        
        <div class="row-fluid">
            <div id="hero-content" class="span6 offset3">
                
                <h1>You Have a Lot to Give</h1>
                
                <div style="font-weight:bold; color:#f2736a;text-align:center; margin: 0 auto; width: 350px;">
                    <div class="give-icons"><i class="icon-fighter-jet icon-4x"></i><br/>Skills</div>
                    <div class="give-icons"><i class="icon-book icon-4x"></i><br/>Knowledge</div>
                    <div class="give-icons"><i class="icon-cogs icon-4x"></i><br/>Equipment</div>
                    <div class="give-icons"><i class="icon-money icon-4x"></i><br/>Money</div>
                </div>
                
                
            </div> 
        </div>
    </div>
{% endblock %}

{% block maincontent %}
   <!-- <div class="row-fluid home-search">
        <form action="" method="post">{% csrf_token %}
                <input type="text"  name="search" id="search" value="Search..."onclick="if(this.value=='Search...'){this.value=''}"
                onblur="if(this.value==''){this.value='Search...'}">
                <select name="opp_type" id="opp_type">
                <option value="">Search By:</option>
                <option value="Skills">Skill set</option>
                <option value="Knowledge">Knowledge</option>
                <option value="Equipment">Equipment</option>
                <option value="Money">Money</option>
                </select>
                <input type="submit" class="btn btn-primary" value="Search" style="margin-top:-10px;margin-left:10px;">
        </form>
    </div> -->
    
    <div class="home-slogan"><h1>Choose a project and share your passion</h1></div>
    
    <div class="row projects_row">
        {% for project in projects %}
            {% include "includes/project-pane.html" %}
        {% endfor %}
    </div>

{% endblock %}

{% block bottomscript %}

{% endblock %}

