{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
<style>
    body {
        padding-top: 60px !important;   /*for our hero unit*/
    }
    .feature_container {
        height: 400px;
        margin-top: 60px;  
    }
    
    .home_feature_slider {
        background: url('/static/images/hero.png');
        height: 300px;
    }
    .opportunties_row {
        margin-top: 30px;
    }

    .opportunity_lower {
        padding: 10px;   
    }
    .opportunity_lower .name {
        font-weight: bold;
    }

    .opportunity_lower .short_desc {
        margin-top:5px;
        min-height: 90px;
    }
    
    .opportunity_lower .location {
        margin-top: 5px;
    }
    .opportunity_lower .location a{
        margin-left: 5px;
    }
    
    .opportunity_lower .organization {
        margin-top: 5px;
    }

    .opportunity_lower .organization a{
        margin-left: 5px;
    }    
    footer {
        margin-top: 30px;
    }
    #hero-content {
        margin-top: 75px;
        padding: 10px;
        background-color:rgba(232, 232, 232, 0.9);
        border-radius: 3px;
    }
</style>
{% endblock %}


{% block hero %}
    <div class="home_feature_slider">
        
        <div class="row-fluid">
            <div id="hero-content" class="span6 offset3">
                <h1>Connecting Knowledge & Opportunity</h1>
            </div> 
        </div>
    </div>
{% endblock %}
{% block maincontent %}

        <div class="row opportunties_row">
            {% for opportunity in opportunities %}
                {% include "includes/opportunity-pane.html" %}
            {% endfor %}
        </div>


{% endblock %}

{% block bottomscript %}

{% endblock %}

