{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}



{% block maincontent %}
    
    

    
    <div class="row-fluid">
        <div class="span4 well">
            <h3>Login</h3>
            {{ state }}
            <form action="/login" method="post">
                Email:
                <input type="text" name="username" value="{{ username}}" /><br />
                Password:
                <input type="password" name="password" value="" /><br />
        
                <div class="clearfix"></div>
                <input type="submit" class="btn" value="Log In" />
            </form>
        </div>
    
        <div class="span4 offset1">
            <h5>Login with other networks</h5>
            <a href="{% url "socialauth_begin" 'google' %}" class="button"><i class="icon-google-plus"></i> Google</a>
            <br/><br/>
            <a href="{% url "socialauth_begin" 'facebook' %}" class="button"><i class="icon-facebook"></i> Facebook</a>    
            <br/><br/>
            <a href="{% url "socialauth_begin" 'yahoo' %}" class="button"><i class="icon-sign-blank"></i> Yahoo</a>
			<br/><br/>
            <a href="{% url "socialauth_begin" 'linkedin' %}" class="button"><i class="icon-linkedin"></i> LinkedIn</a>
            <br /><br />
        </div>
    </div>

{% endblock %}


{% block bottomscript %}

{% endblock %}
