{% extends BASE_TEMPLATE %}

{% block extra_css %}
{% endblock %}

{% block content %}
    
<div class="container">

    <div class="row">

        {% if project.media_url %}
        <div class="col-xs-4" id="image">
            <img src="{{ project.media_url }}" />
        </div>

        <div class="col-xs-8">
        {% else %}
        <div class="col-xs-12">
        {% endif %}
    
            <p id="project-name"><a href="/project/{{ project.id }}">{{ project.name }}</a></p>
            <p id="project-short-desc">{{ project.short_desc|safe }}</p>
            {% if project.followed_by|length %}
            <p id="project-followers">{{ project.followed_by|length }} followers</p>
            {% endif %}

            <div id="desc-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 id="desc-modal-label" class="modal-title">Project details</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="edit-project" enctype="multipart/form-data">{% csrf_token %}
                                <input type="hidden" name="id" value="{{ project.id }}" />
                                <input type="hidden" name="organization_id" value="{{ project.organization.id }}" />
                                <div class="form-group">
                                    <label for="name">Project Title</label>
                                    <input class="form-control input-sm required" type="text" id="name" name="name" value="{{ project.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="cause">Cause</label>
                                    <select class="form-control input-sm required" id="cause" name="cause">
                                        <option>None</option>
                                        {% for cause in causes %}
                                        <option value="{{ cause }}">{{ cause }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="short-desc">Short Description</label><span class="limit-status"></span>
                                    <input class="form-control input-sm required" data-char-limit="110" length="115" type="text" id="short-desc" name="short_desc" value="{{ project.short_desc }}">
                                    <span class="help-block">110 characters or less</span>
                                </div>
                                <div class="form-group">
                                    <label for="description">Full project description</label>
                                    <textarea class="form-control input-sm required" id="description" name="description" data-word-limit="50">{{ project.description }}</textarea>
                                    <span class="help-block">50 words or less</span>
                                </div>
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input class="form-control input-sm" type="text" id="city" name="city" value="{{ project.city }}">
                                </div>
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input class="form-control input-sm" type="text" id="state" name="state" value="{{ project.state }}">
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control" id="country" name="country">
                                        <option value=''>Not specified</option>
                                        {% for c in COUNTRIES %}
                                          <option value="{{ c.0 }}"{% if c.0 = project.country %} selected{% endif %}>{{ c.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">Add a Video URL</label>
                                    <input class="form-control input-sm" type="text" id="video-url" name="video_url" value="{{ project.video_url }}">
                                    <span class="help-block">YouTube and Vimeo URLs supported</span>
                                </div>
                                <div class="form-group">
                                    <label for="name">Upload new photo</label><br />
                                    <button class="delegate-file-upload btn btn-default btn-sm">Select Image</button>
                                    <i class="fa fa-ok fa-2x file-upload-ok" style="display: none;"></i>
                                    <input type="file" name="file" value="Upload new photo" style="display: none;">
                                </div>
                                <div class="pull-right modal-buttons">
                                    <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                    <input class="btn btn-primary" type="submit" value="Save Changes" />
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <p><a href="#desc-modal" role="button" class="btn btn-default" data-toggle="modal">Edit details</a></p>      

        </div>
<!--
        <div class="col-xs-offset-1 col-xs-4" id="org">
            <fieldset>
                <h4>{{ project.organization.name }}</h4>
                <p>{{ project.organization.country }}</p>
                <p>{{ project.organization.org_mission }}</p>
            </fieldset>
        </div>
-->
    </div>

    <div class="row wall">
        <div class="col-xs-12">
            <h4>Opportunities</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if opportunities %}
            <table class="table table-striped opportunities">
            {% for opportunity in opportunities %}
                <tr>
                    <td><a href="/project/{{ project.id }}/opportunity/{{ opportunity.id }}">{{ opportunity.name }}</a>{% if new_engagements %}&nbsp;&nbsp;<span class="badge">{{ new_engagements|length }}</span>{% endif %}</td>
                    <td class="engagement">
                        <ul>
                        {% for ue in opportunity.opportunityengagement_set.all %}
                            <li>
                                <a href="/profile/{{ ue.user.id }}">{{ ue.user.first_name }} {{ ue.user.last_name }}</a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <p class="edit">
                            <a href="#opportunity{{ opportunity.id }}-modal" class="btn btn-default btn-xs" role="button" data-toggle="modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;edit</a>
                            <button class="btn btn-default btn-xs" data-toggle="confirmation" data-href="javascript:closeOpportunity({{ opportunity.id }})"><i class="fa fa-times"></i>&nbsp;&nbsp;close</button>
                            <button class="btn btn-danger btn-xs" data-toggle="confirmation" data-placement="left" data-href="javascript:deleteOpportunity({{ opportunity.id }})"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;delete</button>
                        </p>
                    </td>
                </tr>

                <div id="opportunity{{ opportunity.id }}-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 id="desc-modal-label" class="modal-title">Edit Opportunity</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" class="edit-opportunity" enctype="multipart/form-data">{% csrf_token %}
                                    <input type="hidden" name="id" value="{{ opportunity.id }}" />
                                    <input type="hidden" name="type" value="opportunity" />
                                    <div class="form-group">
                                        <label for="name">Opportunity Title</label>
                                        <input class="form-control required input-sm" type="text" name="name" value="{{ opportunity.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="short-desc">Short Description</label>
                                        <input class="form-control required input-sm" length="109" type="text" name="short_desc" value="{{ opportunity.short_desc }}">
                                        <span class="help-block">110 characters or less</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control required input-sm" name="description" data-word-limit="100">{{ opportunity.description }}</textarea>
                                        <span class="help-block">100 words or less</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="opp-type">Type</label>
                                        <select class="form-control required input-sm" name="opp_type">
                                            <option>Select</option>
                                            <option{% ifequal opportunity.opp_type 'Equipment' %} selected{% endifequal %}>Equipment</option>
                                            <option{% ifequal opportunity.opp_type 'Knowledge' %} selected{% endifequal %}>Knowledge</option>
                                            <option{% ifequal opportunity.opp_type 'Money' %} selected{% endifequal %}>Money</option>
                                            <option{% ifequal opportunity.opp_type 'Skills' %} selected{% endifequal %}>Skills</option>
                                        </select>
                                        <span class="help-block">Please select a opportunity type</span>
                                    </div>                
                                    <div class="form-group">
                                        <label for="resources">Resources</label>
                                        <textarea class="form-control input-sm" name="resources"></textarea>
                                        <span class="help-block" style="display: true;">comma separated list of URLs</span>
                                    </div>
                                    <div class="form-group">
                                            <label for="name">Upload new photo</label><br/>
                                            <button class="delegate-file-upload btn btn-default btn-sm">Select Image</button>
                                            <i class="fa fa-check fa-2x file-upload-ok" style="display: none;"></i>
                                            <input type="file" name="file" value="Upload new photo" style="display: none;">
                                    </div>
                                    <div class="pull-right modal-buttons">
                                        <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary btn-sm" type="submit">Save Changes</button>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </table>
            {% else %}
            <p>There are no opportunities added to this project</p>
            {% endif %}
            <a href="/project/{{ project.id }}/opportunity/add" class="btn btn-default btn-sm"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add opportunity</a>
            {% if no_sponsorship %}
            <a href="/project/{{ project.id }}/opportunity/add/sponsorship" class="btn btn-default btn-sm"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add sponsorship</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

{% block bottomscript %}

<script>
function closeOpportunity(id) {

    $.ajax({
        url : '/ajax/close-opportunity',
        method: 'post',
        data : {'opportunityId': id},
        success: function(res) {
            window.location.reload();
        },
        error: function(res) {
            alert("failed to close opportunity");
        }
   });
}
function deleteOpportunity(id) {

    $.ajax({
        url : '/ajax/delete-opportunity',
        method: 'post',
        data : {'opportunityId': id},
        success: function(res) {
            window.location.reload();
        },
        error: function(res) {
            alert("failed to delete opportunity");
        }
   });
}
</script>

{% endblock %}