{% extends 'theme/base.html' %}

{% block extra_css %}
{% endblock %}

{% block widecontent %}
    
<div class="container" id="manage-project">

    <div class="row">
    
        <div class="span7">

            <form method="post" id="edit-project">

                <input type="hidden" name="id" value="{{ project.id }}" />
                <p id="project-name"><i class="icon-pencil"></i><input readonly="readonly" name="name" value="{{ project.name }}" /></p>
                <p id="project-short-desc"><i class="icon-pencil"></i><input readonly="readonly" name="short_desc" value="{{ project.short_desc|safe }}" /></p>

                <div id="desc-modal" class="modal hide fade" role="dialog" aria-labelledby="desc-modal-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="desc-modal-label">Project description</h3>
                    </div>
                    <div class="modal-body row-fluid">
                        <textarea name="description" id="project-desc">{{ project.description }}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal">Close</button><button class="btn btn-primary" onclick="$(this).parents('form').submit();" data-dismiss="modal">Save changes</button>
                    </div>
                </div>

                <p><a href="#desc-modal" role="button" class="btn" data-toggle="modal">Edit full description</a></p>
                <p><a href="#project-update-modal" class="btn btn-primary" data-toggle="modal">Post an update</a></p>            

                <div id="project-update-modal" class="modal hide fade" role="dialog" aria-labelledby="project-update-modal-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="project-update-modal-label">Project update</h3>
                    </div>
                    {% include "includes/post-update.html" %}
                </div>

            </form>

        </div>

        <div class="offset1 span4" id="org">
            <fieldset>
                <legend>Organization</legend>
                <h4>{{ project.organization.name }}</h4>
                <p>{{ project.organization.country }}</p>
                <p>{{ project.organization.org_mission }}</p>
            </fieldset>
        </div>
        
    </div>

    <div class="row wall">

        <div class="span7">
            <h3>Recent Activity</h3>            
        </div>

        <div class="offset1 span4">
            <h3>Opportunities</h3>
            {% for opportunity in opportunities %}
            {% include "includes/opportunity-pane-small.html" %}
            {% endfor %}
        </div>

    </div>


</div>


{% endblock %}

{% block bottomscript %}

<script>

    $('#edit-project input').on('click', function() {
        $(this).removeAttr('readonly');
    });
    $('#edit-project input').on('blur', function() {
        $(this).attr('readonly', 'readonly');
        if ($(this).data('changed')) {
            $(this).parents('form').submit();
        }
    });
    $('#edit-project input').on('change', function() {
        $(this).data('changed', true);  
    });
    $('#edit-project').on('submit', function(e) {

        e.preventDefault();

        $.ajax({
            url: '/ajax/update-project',
            method: 'POST',
            data: $(this).serialize(),
            success: function(res) {
                console.log(res)
            },
            error: function(res) {
                console.log(res)
            }
        });

    });

</script>

{% endblock %}