{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
    <style>
        .well {
            width: 550px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">

        <h3>New Project{% if organization %} for <span>{{ organization.name }}</span>{% endif %}</h3>

        <div class="well">

            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Project Title</label>
                    <input class="form-control required" type="text" id="name" name="name">
                    <span class="help-block">Please provide a project name</span>
                </div>
                <div class="form-group">
                    <label for="cause">Cause</label>
                    <select class="form-control required" id="cause" name="cause">
                        <option>Please select a relevent cause</option>
                        {% for cause in causes %}
                        <option value="{{ cause }}">{{ cause }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="short-desc">Briefly describe your project (110 characters or less)</label>
                    <input class="form-control required" length="109" type="text" id="short-desc" name="short_desc" placeholder="a brief, one-line description">
                    <span class="help-block">Use an action phrase to describe your project<br/> ex: Building a country wide network of...</span>
                </div>
                <div class="form-group">
                    <label for="description">Eleborate on the impact of this project (50 words or less)</label>
                    <textarea class="form-control required" id="description" name="description" data-word-limit="50"></textarea>
                    <!--<span class="help-block">In 50 words or less describe the impact your project will make</span>-->
                </div>
                <div class="form-group">
                    <label for="name">Add a Video URL</label> (optional)<br/>
                    <input class="form-control" type="text" id="video-url" name="video_url">
                    <span class="help-block">YouTube and Vimeo URLs supported</span>
                </div>
                <div class="form-group">
                    <label for="name">Add an Image</label> (optional)<br/>
                    <button class="delegate-file-upload btn btn-default">Select Image</button>
                    <i class="icon-ok icon-2x file-upload-ok" style="display: none;"></i>
                    <input type="file" name="file" id="file" value="Upload a new photo" style="display: none;">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right" disabled="disabled">Next</button>
                    <div class="clearfix"></div>
                </div>
            </form>
    
        </div>
    </div>

{% endblock %}

{% block bottomscript %}
<script>

</script>    
{% endblock %}