{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
    <style>
        .well {
            width: 550px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">

        <h3>New Project{% if organization %} for <span>{{ organization.name }}</span>{% endif %}</h3>

        <div class="well">

            <form class="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Project Title</label>
                    <input class="form-control required" type="text" id="name" name="name">
                    <span class="help-block">Please provide a project name</span>
                </div>
                <div class="form-group">
                    <label for="industry">Industry</label>
                    <select class="form-control" id="industry" name="industry">
                        <option>Select</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="short-desc">Short Description</label>
                    <input class="form-control required" type="text" id="short-desc" name="short_desc" placeholder="a brief, one-line description">
                    <span class="help-block">Please provide a brief description</span>
                </div>
                <div class="form-group">
                    <label for="description">Full Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Add an Image</label> (optional)<br/>
                    <button class="delegate-file-upload btn btn-default">Select Image</button>
                    <i class="icon-ok icon-2x file-upload-ok" style="display: none;"></i>
                    <input type="file" name="file" id="file" value="Upload a new photo" style="display: none;">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right" disable="disabled">Next</button>
                    <div class="clearfix"></div>
                </div>
            </form>
    
        </div>
    </div>

{% endblock %}

{% block bottomscript %}
    
{% endblock %}