{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}


{% block extra_css %}
{% endblock %}

{% block widecontent %}

<div class="container">
    <ul class="breadcrumb">
        <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
        <li id="breadcrumb-menu-mission" class="active">New Project</li>
    </ul>
</div>

<div class="container">

    <div class="row-fluid">
        <div class="span10 project_title">
            <h5>New Project</h5>
        </div>
        <div class="span2">
        </div>
    </div>

    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="project-name">Project Title</label>
                <div class="controls">
                    <input type="text" id="project-name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="short-desc">Short Description</label>
                <div class="controls">
                    <input type="text" id="short-desc" placeholder="a brief, one-line description">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="full-desc">Full Description</label>
                <div class="controls">
                    <textarea id="full-desc"></textarea>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
