{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block content %}

    <div class="container">

        {% if organization %}
        <h4>You're a member of <b>{{ organization.name }}</b></h4>
        <form method="post">
            <input type="submit" value="Use this organization" name="use_users_org" class="btn btn-primary" />
        </form>
        {% endif %}

        <h3>Create {% if organization %}a new{% else %}an{% endif %} organization</h3>

        <div class="row">
            <div class="col-6">
                <form id="new-org-form" class="form-horizontal col-12" method="post">{% csrf_token %}

                    <div class="form-group">

                        <label for="name">Organization name</label>
                        <input class="form-control" type="text" id="name" name="name" />

                    </div>

                    <div class="form-group">
                        
                        <label for="URL">Website</label>
                        <input class="form-control" type="text" id="URL" name="URL" />

                    </div>

                    <div class="form-group">
                        
                        <label for="country">Country</label>
                        <select class="form-control" id="country" name="country">
                            <option>Select country</option>
                            <option value="United States">United States</option>
                        </select>

                    </div>

                    <div class="form-group">
                        
                        <label for="org_mission">Mission Statement</label>
                        <textarea class="form-control" id="org_mission" name="org_mission"></textarea>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-default pull-right" type="submit">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
