{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
<style>
    .vert-or {
        font-size: 20px;
        margin-top: 48px;
    }
    .vert-or div {
        height: 100px;
    }
    .vert-or p {
        top: 3px;
        left: -9px;
    }
    .current-org {
        text-align: right;
    }
    .current-org h4 {
        margin-top: 118px;
    }
    .well {
        width: 700px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="container">

        <h3>Create {% if organization %}a new{% else %}an{% endif %} organization</h4>

        <div class="well">

            <div class="row">

            {% if organization %}
                <div class="col-5 current-org">
                    <h4>You're a member of <b>{{ organization.name }}</b></h4>
                    <form method="post">
                        <input type="submit" value="Use this organization" name="use_users_org" class="btn btn-primary btn-large" />
                    </form>
                </div>
                <div class="vert-or col-1">
                    <div></div>
                    <p>or</p>
                    <div></div>
                </div>
            {% endif %}

                <div class="col-6">

                    <form id="new-org-form" class="form-horizontal col-12" method="post">{% csrf_token %}

                        <div class="form-group">

                            <label for="name">Organization name</label>
                            <input class="form-control required" type="text" id="name" name="name" />
                            <span class="help-block">Please provide a name</span>
                        </div>

                        <div class="form-group">
                            
                            <label for="URL">Website</label>
                            <input class="form-control" type="text" id="URL" name="URL" />

                        </div>

                        <div class="form-group">
                            
                            <label for="country">Country</label>
                            <select class="form-control required" id="country" name="country">
                                <option value=''>Select country</option>
                                <option value="United States">United States</option>
                            </select>
                            <span class="help-block">Please select a country</span>

                        </div>

                        <div class="form-group">
                            
                            <label for="org_mission">Mission Statement</label>
                            <textarea class="form-control" id="org_mission" name="org_mission"></textarea>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary pull-right" id="org-submit" type="submit" disabled="disabled">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomscript %}
    <script>

    $('#name').on('blur', function(e) {

        var name = this;

        if (!name.value) return;

        $.ajax({
            url : '/ajax/check-org-name',
            method: 'GET',
            data : {'name': name.value},
            success: function(available) {`
                if (available) {
                    $(name).parents('.form-group').removeClass('has-error');
                } else {
                    $(name).siblings('.help-block').text('That organization already exists');
                    $(name).parents('.form-group').addClass('has-error');
                }
            },
            error: function(res) {
                console.log('error in ajax request: ' + res);
            }
        });

        reAllocate.validateForm();
    });

    </script>
{% endblock %}
