{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    <style>

        .feature_container {
            height: 400px;
            margin-top: 60px;
        }

        .home_feature_slider {
            background: url('/static/images/hero.png');
            height: 300px;
        }

        .opportunties_row {
            margin-bottom: 30px;
        }

        .opportunity_lower {
            padding: 10px;
        }

        .opportunity_lower .name {

        }

        .opportunity_lower .short_desc {
            margin-top: 5px;
            min-height: 90px;
        }

        .opportunity_lower .location {
            margin-top: 5px;
        }

        .opportunity_lower .organization {
            margin-top: 5px;
        }

        footer {
            margin-top: 30px;
        }
    </style>
{% endblock %}


{% block hero %}
{% endblock %}
{% block maincontent %}

    <div class="container">
        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission"
                class="active">Opportunities
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="filter_list">
                    <h2>Filters</h2>
                    <div class="expertise_checklist">
                        Select your expertise:
                        <form>
                            <input type="checkbox" name="expertise" value="CAD">Cad Design<br/>
                            <input type="checkbox" name="expertise" value="Hamster">Hamsters<br/>
                            <input type="checkbox" name="expertise" value="Engineering">Engineering<br/>
                            <input type="checkbox" name="expertise" value="Web Dev">Web Development<br/>
                            <input type="checkbox" name="expertise" value="Graphic Design">Graphic Design<br/>
                            <input type="checkbox" name="expertise" value="Web Design">Web Design<br/>
                        </form>
                    </div>
                    <div class="cause_dropdown">
                        Select a Cause:
                    <form>
                        <select>
                            <option>Medical</option>
                            <option>Food</option>
                            <option>Water</option>
                            <option>Energy</option>
                            <option>Love</option>
                        </select>
                    </form>
                    </div>
                    <div class="location_search">
                    Search of a Location:
                    <form>
                        <input type="text" name="location"><br>
                    </div>
                </div>
            </div>
            <div class="span9">
                <div class="row opportunties_row">
                    {% for opportunity in opportunities %}
                        {% include "includes/opportunity-pane.html" %}
                    {% endfor %}
                </div>
        
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomscript %}
    
{% endblock %}

