{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block maincontent %}

    <div class="container">
        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-home"><a href="/project/"{{ project.id }}>{{ project.name }}</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission" class="active">{{ opportunity.name }}</li>
        </ul>
    </div>
    
    <h1></h1>
    <div class="span12">
        <div class="oportunity_list">
            <div class="">
                Project: {{ project.name }}
            </div>
            <div class="">
                Opportunity: {{ opportunity.name }}
            </div>
        </div>
    </div>  


{% endblock %}

{% block bottomscript %}

{% endblock %}
