{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/project/{{ opportunity.project.id }}">{{ opportunity.project.name }}</a></li>
            <li class="active">{{ opportunity.name }}</li>
        </ul>
    </div>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
        <div id="opp-title" class="container">
            <div class="row">
                <div class="col-xs-1">
                    <div class="skill-icons">
                    {% if not is_open %}
                        <div class="give-icons"><i class="fa fa-circle fa-4x"></i><br/>Closed</div>
                    {% endif %}
                    {% if opportunity.opp_type.lower == 'skills' %}
                        <div class="give-icons"><i class="fa fa-star fa-4x"></i><br/>Skills</div>
                    {% endif %}
                    {% if opportunity.opp_type.lower == 'knowledge' %}
                        <div class="give-icons"><i class="fa fa-book fa-4x"></i><br/>Knowledge</div>
                    {% endif %}
                    {% if opportunity.opp_type.lower == 'equipment' %}
                        <div class="give-icons"><i class="fa fa-cogs fa-4x"></i><br/>Equipment</div>
                    {% endif %}
                    {% if opportunity.opp_type.lower == 'money' %}
                        <div class="give-icons"><i class="fa fa-money fa-4x"></i><br/>Money</div>
                    {% endif %}
                    </div>
                </div>
                <div class="col-xs-5">
                    <h4><a href="/project/{{ opportunity.project.id }}">{{ project.name }}</a></h4>
                    <h1>{{ opportunity.name }}</h1> 
                </div>
                <div class="col-xs-4">
                {% if is_open %}
                    {% if not engaged or pending %}
                        <a href="#engage-modal" class="engage-button btn btn-primary login-required" data-toggle="modal"{% if pending %} disabled=disabled {% endif %}>Engage</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block modals %}
{% include 'includes/engage_modal.html' %}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
        
            <div class="col-xs-7">
                <h3>Overview</h3>
                <p class="opp-description pre">{{ opportunity.description }}</p>
            
                {% if engaged %}
                {% include "includes/post-update.html" %}
                {% endif %}
                {% if updates %}
                <h3>Recent Updates</h3>
                <a name="updates"></a>
                <div id="updates">
                    {% for update in updates %}
                    <div class="update">
                        {% if update.media_url %}
                        <div class="update-media"><img src="{{ update.media_url }}"></div>
                        {% elif update.video %}
                        <div class="update-media">{{ update.video|safe }}</div>
                        {% endif %}
                        <p class="update-date">{{ update.date_created.date }}</p>
                        <p class="update-text pre">{{ update.text }}</p>
                        {% if update.created_by.get_profile.media_url %}                    
                        <img class="update-avatar" src="{{ update.created_by.get_profile.media_url }}" />
                        {% endif %}
                        <a class="update-username" href="/profile/{{ update.created_by.id }}">
                            {{ update.created_by.first_name }} {{ update.created_by.last_name }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="col-xs-5">
                {% if opportunity.media_url %}
                <div class="opportunity-media"><img src="{{ opportunity.media_url }}"></div>
                {% endif %}
                <div class="addthis_toolbox">
                    <a class="share addthis_button_twitter ">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a class="share addthis_button_facebook ">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a class="share addthis_button_linkedin ">
                        <i class="fa fa-linkedin-sign fa-2x"></i>
                    </a>
                </div>   
                {% if resources.length %}
                <h4>Resources</h4>
                {% for r in resources %}
                <p class="opp-resource"><a href="{{ r }}">{{ r }}</a></p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block bottomscript %}
<script>
    $(document).ready(function () {
        $('#target').submit(function() {
            alert('Handler for .submit() called.');
            return false;
        });     

        var twitter_share_msg = "Check out the work being done on {{ opportunity.name }} for {{ project.name }} at @reallocate. " + window.location.href;
        var title = "Check out Reallocate";
        var description = "Check out the work we're doing : {{ opportunity.name }}.";
        reAllocate.setupAddThis(twitter=twitter_share_msg, title=title, description=description);
    });
</script>

{% endblock %}
