{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    <style>

        .feature_container {
            height: 400px;
            margin-top: 60px;
        }

        .home_feature_slider {
            background: url('/static/images/hero.png');
            height: 300px;
        }

        .opportunties_row {
            margin-top: 30px;
        }

        .opportunity_lower {
            padding: 10px;
        }

        .opportunity_lower .name {

        }

        .opportunity_lower .short_desc {
            margin-top: 5px;
            min-height: 90px;
        }

        .opportunity_lower .location {
            margin-top: 5px;
        }

        .opportunity_lower .organization {
            margin-top: 5px;
        }

        footer {
            margin-top: 30px;
        }
    </style>
{% endblock %}


{% block hero %}
{% endblock %}
{% block maincontent %}

    <div class="container">

        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission"
                class="active">Opportunities
            </li>
        </ul>

    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span12">
                <div class="row opportunties_row">
                    {% for opportunity in opportunities %}
                        <div class="span3">
                            <div class="opportunity_container" opportunity_id="{{ opportunity.id }}">
                                <div class="opportunity_thumb">
                                    <img src="/static/images/darkearth.png"/>
                                </div>
                                <div class="opportunity_lower">
                                    <div class="name">
                                        {{ opportunity.name }}
                                    </div>
                                    <div class="short_desc">
                                        {{ opportunity.description }}
                                    </div>
                                    <div class="location">
                                        <a href="">San Francisco, CA</a>
                                    </div>
                                    <div class="organization">
                                        <a href="">ReAllocate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomscript %}
    
{% endblock %}

