{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block maincontent %}

    <h1></h1>
    <div class="span9">
        <div class="oportunity_list">
            <div class="">
                Project: {{ project.name }}
            </div>
            <div class="">
                Opportunity: {{ opportunity.name }}
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="filter_list">
            <h2>Filters</h2>
            <div class="expertise_checklist">
            Expertise
            </div>
            <div class="cause_dropdown">
            Cause
            </div>
            <div class="location_search">
            Location
            </div>
        </div>
    </div>  


{% endblock %}

{% block bottomscript %}
{#    <script src="/static/js/main.js"></script>#}
{% endblock %}
