{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="racing-stripe"></div>

<div class="container">

    <div class="row">
                        
        <div class="col-xs-3 user-details"> 
            <div class="user-image img-circle" style="background-image: url('{{ user_profile.media_url|default:'/static/images/no-profile-image.png' }}')">
                {% if self %}
                <form id="update-profile-pic" onchange="this.submit()" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <button class="delegate-file-upload btn btn-default btn-block btn-sm">Change profile picture<i class="fa fa-check fa-2x file-upload-ok" style="display: none;"></i></button>
                    <input type="file" name="file" id="file" value="Upload a new photo" style="display: none;">
                </form>
                {% endif %}
            </div>
            <p>{{ user_profile.location }}<p>
            <p>{{ user_profile.occupation }}<p>
            {% if user_profile.skills %}
            <p>{{ user_profile.skills }}<p>
            {% endif %}
            {% if self %}
            <p class="edit-details"><a href="#edit-profile-modal" data-toggle="modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;edit details</a></p>
            {% endif %}
        </div>

        <div class="col-xs-8">
            {% if user_profile.user.first_name or user_profile.user.last_name %}
            <h2>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h2>
            {% else %}
            <h2></h2>
            {% endif %}
            <p class="bio">{{ user_profile.bio }}<p>
            <div class="row">
                <div class="col-xs-6 user-opportunities">
                    <h3>Opportunities ({{ opportunities|length }})</h3>
                    {% for opportunity in opportunities %}
                    {% include 'includes/opportunity_pane_small.html' %}
                    {% endfor %}
                </div>
                <div class="col-xs-6 user-projects">
                    <h3>Projects ({{ my_projects|length }})</h3>
                    {% for project in my_projects %}
                    {% include 'includes/project_pane_small.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
{% if self %}
<div id="edit-profile-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <form id="update-profile" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">First name</label>
                        <div class="col-xs-9">
                            <input class="form-control"type="text" name="first_name" value="{{ user_profile.user.first_name }}" placeholder="First name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Last name</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" name="last_name" placeholder="Last name" value="{{ user_profile.user.last_name }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3">Email</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" id="email" name="email" value="{{ user_profile.user.email }}" placeholder="Contact Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Location</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" name="location" placeholder="Location" value="{{ user_profile.location }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Occupation</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" name="occupation" placeholder="Occupation" value="{{ user_profile.occupation }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Skills</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" name="skills" placeholder="Comma separated skills" value="{{ user_profile.skills }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Bio</label>
                        <div class="col-xs-9" id="bio">
                            <textarea class="form-control" name="bio">{{ user_profile.bio }}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block bottomscript %}
{% endblock %}
