{% extends 'theme/base.html' %}

{% block extra_css %}
    <style>
        .project-name {
            font-size:16px;
            font-weight:800;
        }
        input, textarea {
            width:350px;
        }
        .profile-info {
            margin-bottom: 15px;   
        }        
        .profile-info-header {
            text-align: left;
            font-size:16px;
        }
        .profile-header-edit {
            padding-top:6px;
            margin-bottom: 10px;
        }
        .profile-numbers {
            width: 100%;
            margin-top:20px;
            background-color: #1c6845;
            background-image:url(/static/images/bgtexture2.png);
            color: #FFF;
        }
        .bottom-profile-header {
            text-align:center;
        }
        .username {
            font-size:36px;
            font-weight:bold;
            color:white;
            margin-bottom:45px;
        }
    </style>
{% endblock %}

{% block content %}

<div style='position:absolute; background-image:url(/static/images/bgtexture2.png);width:100%;height:80px;z-index:-1;'></div>    

<div class='container'>

    <div class='row'>

        {% if edit %}
        <form id="update-profile" method="post" enctype="multipart/form-data">
        {% endif %}
        <div class="col-3 user-image">
                <img src="{{ user_profile.media_url|default:'/static/images/no-profile-image.png' }}" alt="Avatar for {{ profile.user|escape }}" />
            {% if edit %}
                <button class="delegate-file-upload btn btn-primary">Change profile picture</button>
                <input type="file" name="file" id="file" value="Upload a new photo" style="display: none;">
            {% endif %}
        </div>
        
        <div class="col-9">
            <div class="username">
                {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
            </div>
            <div class=" profile-info">
                {% if edit %}
                <div class="row">
                    <div class="col-2 profile-info-header {% if edit %}profile-header-edit{% endif %}"><strong>Email</strong></div>
                    <div class='col-8'>    
                        <input type="text" id="email" name="email" value="{{ user_profile.user.email }}" placeholder="Contact Email" />
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-2 profile-info-header {% if edit %}profile-header-edit{% endif %}"><strong>Location</strong></div>
                    <div class="col-8">
                        {% if edit %}
                            <input type="text" name="location" placeholder="Location" value="{{ user_profile.location }}" />
                        {% else %}
                            {{ user_profile.location|default:'San Francisco, CA' }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 profile-info-header {% if edit %}profile-header-edit{% endif %}"><strong>Occupation</strong></div>
                    <div class="col-8">
                        {% if edit %}
                            <input type="text" name="occupation" placeholder="Occupation" value="{{ user_profile.occupation }}" />
                        {% else %}
                            {{ user_profile.occuption|default:'Renaissance Man' }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 profile-info-header {% if edit %}profile-header-edit{% endif %}"><strong>Skills</strong></div>
                    <div class="col-8">
                        {% if edit %}
                            <input type="text" name="skills" placeholder="Comma Separate Skills" value="{{ user_skills }}" />
                        {% else %}
                            {{ user_skills|default:'This person has not added skills yet' }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 profile-info-header {% if edit %}profile-header-edit{% endif %}"><strong>Bio</strong></div>
                    <div class="col-8">
                        {% if edit %}
                            <textarea name="bio">{{ user_profile.bio }}</textarea>
                        {% else %}
                            {{ user_profile.bio|default:'Default bio goes here' }}
                        {% endif %}
                    </div>
                </div>
                
                {% if edit %}
            </div>
                <div class="row">
                    <div class="col-8 col-offset-2">
                        <input type="submit" value="Save Your Profile" class="btn btn-default" />
                    </div>
                </div>
                </form>
            {% endif %}
        </div>
        <div class="col-3">
            {% if user_profile.linked_in %}<a class='' href='#'><h6>Linkedin profile</h6></a>{% endif %}
            {% if user_profile.facebook %}<a class='' href='#'><h6>Facebook profile</h6></a>{% endif %}
        </div>
    </div>
</div>

{% comment %}
<!-- Top Line Numbers on Profile -->
<div class="profile-numbers">
    <div class="row">
        <div class="col-8 col-offset-3">
            <div class="col-3">
                <p>{{ projects|length }}</p>
                <p>Projects</p>
            </div>
            <div class="col-3">
                <p>{{ opps|length }}</p>
                <p>Opportunities</p>
            </div>
            <div class="col-3">
                <p>{{ profile.following|length|default:'2' }}</p>
                <p>Following</p>
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<!-- Updates, Opps, and Projects -->
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="opportunities">
                <div class="bottom-profile-header">
                    <h3>Engaged Opportunities</h3>
                </div>
                {% for opportunity in opportunities %}
                    {% include 'includes/opportunity-pane-small.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="user-projects-followed">
                <div class="bottom-profile-header">
                    <h3>Owned Projects</h3>
                </div>
                 {% for project in my_projects %}
                    {% include 'includes/project-pane-small.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="user-projects-followed">
                <div class="bottom-profile-header">
                    <h3>Followed Projects</h3>
                </div>
                 {% for project in followed_projects %}
                    {% include 'includes/project-pane-small.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottomscript %}
{% endblock %}
