{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    <style>
        .oppRow {
            /*border:2px solid red; */
            background-color: #d3d3d3;
            height: 100px;
            margin-bottom: 10px;
        }

        .oppThumb{
            width: 50px;
            height: 50px;
        }
        .oppDescription{
            color: #808080;
        }

        .oppTitle{
            font-size: 20px;
        }


        .updateThumb{ }
        .updateUserName{
            color: black;
        }
        .updateOppName{
            color: #808080;
        }
        .updateText{
            color: #808080;
        }
        .updateMedia{
            margin:5px;
        }
        #updates {
            border-left: 1px solid #7d7d7d;
        }
        
        #updates .updateRow {
            border-bottom: 1px solid #7d7d7d;
        }

    </style>
{% endblock %}
{% block maincontent %}

    <div class="container">
        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission"
                class="active">{{ project.name }}
            </li>
        </ul>
    </div>
    
    <div class="project_wrap container">
        <div class="row">
            <div class="span3">
                <img src="/static/images/cordova1.png"/>
            </div>
            <div class="span9">
                <div class="project_title">
                    <h1 style='float:left;'>{{ project.name }}</h1>
                    <div class='follow-or-not'>
                        <a href='#' class='login-required unfollow-project' {% if not is_following %}style='display:none;'{% endif %}project-id="{{ project.id }}">Stop Following</a>
                        <a href='#' class='login-required follow-project' {% if is_following %}style='display:none;'{% endif %} project-id="{{ project.id }}">Follow</a>
                    </div>
                </div>
                <div class="vision">
                    {{ project.description }}
                </div>
                <a href='#' class='login-required follow-project' project-id="{{ project.id }}">Follow this project</a>
                <div class="backstory">
                    The story | The Team | The Community
                </div>
            </div>
        </div>
        <div class="row project_lower">
            <div class="span4" id="opportunity_list">
                {% for opp in opportunities%}
                <div class="row-fluid oppRow">
                    <div class="span2">
                        <img class="oppThumb" src="{{ opp.media_url }}"/>
                    </div>
                    <div class="span10">
                        <div class="oppTitle"> {{opp.name}} </div>
                        <div class="oppDescription"> {{opp.description}}</div>
                        <a href="/opportunity/{{opp.id}}">Get Involved</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <div class="span7" id="updates">
                {% for update in updates%}
                    <div class="row-fluid updateRow">
                        <div class="span2">
                            <img class="updateThumb" src="{{update.user_profile.media_url}}"/>
                        </div>
                        <div class="span10">
                            <div class="updateUserName"> {{update.user.username}} </div>
                            <div class="updateOppName"> {{update.opportunity.name}} </div>
                            <div class="updateText">  {{update.text}}</div>
                            <div class="updateMedia"> <img width="100%" height="100%" src="{{ update.media_url }}"> </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <!-- /container -->


{% endblock %}

{% block bottomscript %}
<script>
    $(document).ready(function(){
        $(".unfollow-project").click(function(){
            $(this).hide();
            $(".follow-project").show();
        });
        $(".follow-project").click(function(){
            $(this).hide();
            $(".unfollow-project").show();
        });
    });
</script>
{% endblock %}
