{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block maincontent %}


<div class="container wrap">
    <div class="row">
        <div class="span4">
            <img src="/static/images/cordova1.png"/>
        </div>
        <div class="span8">
            <div class="project_title">
                Community Cold Storage
            </div>
            <div class="vision">
                Change the paradim in the salmon fishing industry from catch more make less to catch less make more.
            </div>
            <div class="backstory">
                The story | The Team | The Community
            </div>
        </div>
    </div>
    <div class="row project_lower">
        <div class="span4">
            Opportunity List
        </div>
        <div class="span8">
            Activity Feed
        </div>
    </div>
</div>
<!-- /container -->


{% endblock %}

{% block bottomscript %}
{#    <script src="/static/js/main.js"></script>#}
{% endblock %}
