{% extends BASE_TEMPLATE %}
{% load i18n %}

{% trans "Reset Password" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block extra_css %}{% endblock extra_css%}

{% block content %}
    <div class="container">
        <div class="row">
        	<div class="col-xs-offset-2 col-xs-5">
				<form method="post" class="well">{% csrf_token %}

					<input type="hidden" name="email" value="{{ email }}" />
					<input type="hidden" name="temp_password" value="{{ temp_password }}" />

					<div class="form-group">
						<input class="form-control" type="password" name="password" id="password" placeholder="Enter a new password">
					</div>

					<div class="form-group">
						<input class="form-control" type="password" name="password_verify" id="password_verify" placeholder="Re-enter your password">
					</div>

					<input id="reset-submit" type="submit" value="Submit" class="btn btn-primary" disabled="disabled" />
	        	</form>
        	</div>
        </div>
    </div>
{% endblock content %}

{% block bottomscript %}
    <script>

    $('#password_verify').on('blur keyup', function(e) {

        if (this.value != $('#password').attr('value')) {
            $(this).parents('.control-group').addClass('error');
            $('#reset-submit').attr('disabled', 'disabled');
        } else {
            $(this).parents('.control-group').removeClass('error');
            $('#reset-submit').removeAttr('disabled');
        }
    });

    </script>
{% endblock %}
