{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Reset Password" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block extra_css %}{% endblock extra_css%}

{% block content %}
    <div class="container">
        <div class="row" style='margin-bottom:50px;'>
        	
			<form method="post">
				<div class="form-group">
					<label for="email">Enter the email address you signed up for Reallocate with.</label>
					<input class="form-control" type="text" name="email" id="email" placeholder="Email Address" style='width:500px;' value='{{ email }}'>
				</div>
				<div class="form-group">
					<label for="temp_password">Enter the reset password emailed to you.</label>
					<input class="form-control" type="text" name="temp_password" id="temp_password" placeholder="Temporary Password" style='width:500px;' value='{{ reset_password }}'>
				</div>
				<div class="form-group">
					<label for="password">Enter your new password.</label>
					<input class="form-control" type="password" name="password" id="password" placeholder="New Password" style='width:500px;'>
				</div>
				<div class="form-group">
					<label for="password_verify">Enter your new password.</label>
					<input class="form-control" type="password" name="password_verify" id="password_verify" placeholder="Confirm New Password" style='width:500px;'>
				</div>
				<input id="reset-submit" type='submit' value='Set new password and login' class="btn btn-info" disabled="disabled"/>
        	</form>
			
        </div>
		
			
		
    </div>
{% endblock content %}

{% block bottomscript %}
    <script>

    $('#password_verify').on('blur keyup', function(e) {

        if (this.value != $('#password').attr('value')) {
            $(this).parents('.control-group').addClass('error');
            $('#reset-submit').attr('disabled', 'disabled');
        } else {
            $(this).parents('.control-group').removeClass('error');
            $('#reset-submit').removeAttr('disabled');
        }
    });

    </script>
{% endblock %}
