{% extends 'theme/base.html' %}
{% load i18n %}

{% block meta_description %}Find opportunities{% endblock %}

{% block extra_css %}
<style>

</style>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Find Opportunity</li>
	</ul>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-3">
				<!--
				<form method="post">{% csrf_token %}
					<input type="text"  name="search" id="search" value="Search..."onclick="if(this.value=='Search...'){this.value=''}"
					onblur="if(this.value==''){this.value='Search...'}">
					<select name="opp_type" id="opp_type">
					<option value="">Search By:</option>
					<option value="Skills">Skill set</option>
					<option value="Knowledge">Knowledge</option>
					<option value="Equipment">Equipment</option>
					<option value="Money">Money</option>
					</select>
					<input type="submit" class="btn btn-primary" value="Search" style="margin-top:-10px;margin-left:10px;">
				</form>
				-->
			</div>
			<div class="col-9">
				<h3>All Opportunities</h3>
				<div class="opportunities">
					<div class="row">
						{% for opportunity in opportunities %}
						<div class="col-4">
							{% include "includes/opportunity-pane.html" %}			
						</div>	
						{% endfor %}
					</div>	
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block bottomscript %}
{% endblock %}
