{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block extra_css %}
	<style>
        .form-group .help-block {
            display: none;
        }
        .form-group.has-error .help-block {
            display: block;
        }
        h5 {
            margin-bottom: 20px;
        }
	</style>
{% endblock extra_css%}

{% block content %}

    <div class="container">

        <h3>Create an account</h3>
        <h5>Creating an account allows you to engage with opportunties and post projects.</h5>

        <div class="row">

            <div class="col-3">

        	    <form method="post" id="sign-up-form">
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" id="email" placeholder="Email Address">
                        <span class="help-block">That email is already in use</span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" value="" id="password" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password_verify" value="" id="password_verify" placeholder="Re-type Password"/>
                        <span class="help-block">Passwords don't match</span>
                    </div>
                    <div class="form-group pull-right">
                        <button class="btn btn-primary" type="submit" id="sign-up-submit" disabled="disabled">Sign up</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
        	    </form>
        	</div>

            <div class="col-1 vert-or">
                <div></div>
                <p>or</p>
                <div></div>
            </div>

            <div class="col-3" id="social-sign-in">

                <div class="form-group">
                    <a href="{% url "socialauth_begin" "linkedin" %}" class="btn btn-info"><i class="icon-linkedin"></i> LinkedIn</a>
                </div>
                <div class="form-group">
                    <a href="{% url "socialauth_begin" "google" %}" class="btn btn-info"><i class="icon-google-plus"></i> Google</a>
                </div>
                <div class="form-group">
                    <a class="btn btn-info" href="{% url "socialauth_begin" "google" %}"><i class="icon-facebook"></i> Facebook</a>
                </div>
            </div>
        </div>

        <p class="sign-in">Already have an account? <a href="{{ next }}" class="login-required">Sign In</a></h4>

    </div>

{% endblock %}

{% block bottomscript %}
    <script>

    $('#password_verify').on('blur', function(e) {

        if (this.value != $('#password').attr('value')) {
            $(this).parents('.form-group').addClass('has-error');
            $('#sign-up-submit').attr('disabled', 'disabled');
        } else {
            $(this).parents('.form-group').removeClass('has-error');
            $('#sign-up-submit').data('validPassword', true);
            if ($('#sign-up-submit').data('validUsername')) {
                $('#sign-up-submit').removeAttr('disabled');
            };
        }
    });

    $('#email').on('blur', function(e) {

        var email = this;
        
        $.ajax({
            url : '/ajax/check-available',
            method: 'GET',
            data : {'email': email.value},
            success: function(available) {
                if (available) {
                    $(email).parents('.form-group').removeClass('has-error');
                    $('#sign-up-submit').data('validUsername', true);
                    if ($('#sign-up-submit').data('validPassword')) {
                        $('#sign-up-submit').removeAttr('disabled');
                    }
                } else {
                    $(email).parents('.form-group').addClass('has-error');
                    $('#sign-up-submit').attr('disabled', 'disabled');
                    $('#email').addClass('has-error');
                }
            },
            error: function(res) {
                console.log('error in ajax request: ' + res);
            }
        });
    });

    </script>
{% endblock %}
