{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "This is the title" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}



{% block maincontent %}
    
    <div class="row-fluid">
        <div class="span4 well">
			<h3>Create an account</h3>
			<form action="/signup/" method="post">
				email:
				<input type="text" name="email" /><br />
				password:
				<input type="password" name="password" value="" /><br />
		
				<input type="submit" value="Log In" />
			</form>
        </div>
    
        <div class="span4 offset1">
            <h5>Login with other networks</h5>
            <a href="{% url "socialauth_begin" 'google' %}">
                <img src="{{ STATIC_URL }}images/google-icon.png" alt="Google">
            </a>
            <br/><br/>
            <a href="{% url "socialauth_begin" 'facebook' %}">
                <img src="{{ STATIC_URL }}images/facebook-icon.png" alt="Facebook">
            </a>
            <br/><br/>
            <a href="{% url "socialauth_begin" 'yahoo' %}">
                <img src="{{ STATIC_URL }}images/yahoo-icon.png" alt="Yahoo">
            </a>
        </div>
    </div>

{% endblock %}


{% block bottomscript %}

{% endblock %}
