<nav class="navbar navbar-default" role="navigation">

    <div class="container">

        <div class="navbar-header">
            
            <a class="navbar-brand" href="/"><img src="/static/images/reallocate_logo.png"/></a>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav">
                <li><a href="/about"><strong>Learn</strong><span> to ReAllocate</span></a></li>
                <li><a href="/get-started"><strong>Submit</strong><span> a Project</span></a></li>
                <li><a href="/find-opportunity"><strong>Start</strong><span> ReAllocating</span></a></li>
            </ul>

            {% include 'includes/user_dropdown.html' %}

        </div>
    </div>
</nav>


