{% extends 'theme/base.html' %}

{% block extra_css %}
    <style>
        .project-name{
            font-size:16px;
            font-weight:800;
        }
        input, textarea{
            width:350px;
        }
    </style>
{% endblock %}

{% block maincontent %}
    <div class="container">
        <div class="row-fluid" style="border-bottom: 2px dashed #adadad;">
            <div class="span3 user-image">
                <img style="width: 215px; height: 215px; border-radius: 50%;" src="{{profile.media_url|escape}}" alt="Avatar for {{ profile.user|escape }}"/>
            </div>       
            <div class="span6">
                <div class="user-username">
                    <h3>{{ profile.user.username|escape }}</h3>
                </div>
                <div class="row-fluid">
                    <div class="span3" style="text-align: right;"><strong>Location:</strong></div><div class="span8 offset1">San Francisco, CA</div>
                    <br/>
                </div>
                <div class="row-fluid">
                    <div class="span3" style="text-align: right;"><strong>Occupation:</strong></div><div class="span8 offset1"></div>
                    <br/>
                </div>
                <div class="row-fluid">
                    <div class="span3" style="text-align: right;"><strong>Bio:</strong></div><div class="span8 offset1" style="height: 160px; overflow: scroll;">{{profile.bio | escape}}</div>
                    <br/>
                </div>
                <br/>
            </div>
            <div class="span3" style="margin-top: 20px;">
                <a class="btn btn-large btn-primary" href="#">Follow User</a>
                <br/>
                <br/>
                <a class="" href="#"><h4>View Linkedin Profile</h4></a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2" style="border: 2px solid black; padding: 15px 15px 5px 15px; border-radius: 6px;">
                <div class="span3" style="text-align: center;">
                        <span style="font-size: 4em;">4</span>
                        <br/>
                        <span style="font-size: 1.3em;">Projects</span>
                </div>
                <div class="span3" style="text-align: center;">
                        <span style="font-size: 4em;">4</span>
                        <br/>
                        <span style="font-size: 1.3em;">Opportunities</span>
                </div>
                <div class="span3" style="text-align: center;">
                        <span style="font-size: 4em;">13</span>
                        <br/>
                        <span style="font-size: 1.3em;">Following</span>
                </div>
                <div class="span3" style="text-align: center;">
                        <span style="font-size: 4em;">4</span>
                        <br/>
                        <span style="font-size: 1.3em;">Follower</span>
                </div>                
            </div>
        </div>
        <div class="row-fluid user-lower-half" style="margin-top: 25px;">
            <div class="span5 user-update">
                <!--For Each loop here with user posted updates to opportunities and projects-->
                <div class="row-fluid">
                    <h3>Updates</h4>
                    <div class="span3">
                        <img style="width: 90px; height: 90px; border-radius: 50%" src="{{profile.media_url|escape}}">
                    </div>
                    <div class="span9">
                        <div class="user-update-action">
                           <strong>{{ profile.user.username|escape }}</strong> posted to <strong>Opportunity Title</strong>
                        </div>
                        <div class="user-update-content" style="margin-top:10px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 user-projects">
                <!--For Each loop here with projects a user has participated in-->
                <div class="row-fluid">
                    <h3>Projects</h4>
                    <div class="span12 user-project-image">
                        <img style="width: 215px;" src="{{profile.media_url|escape}}">
                    </div>
                    <div class="user-project-status">
                        http://127.0.0.1:8000/static/images/chart.png
                    </div>
                </div>
            </div>
            <div class="span4 user-opportunities">
                <!--For Each loop here with opportunities a user has participated in-->
                
            </div>
        </div>
        
        <div class="row-fluid">
            <h3>Projects {{ profile.user.username|escape }} is following:</h3>
            {% if profile.followed_projects == None %}
                {{ profile.user.username|escape }} isn't following any projects<br/><br/>
            {% endif %}
            
            {% for project in profile.followed_projects.all %}
                <div class="control-group">
                    <a href='/project/{{ project.id }}' class='project-name'>{{ project.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href='#' class='unfollow-project' project-id='{{ project.id }}'>(stop following)</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block bottomscript %}
    <script>
        $(".unfollow-project").click(function(){
            $(this).parents(".control-group").hide();
        });
    </script>
{% endblock %}