{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron"></div>
{% endblock %}

{% block content %}

<div class="container">

	<div class="col-xs-7">
		<h2>Sample About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non dictum risus. Nulla faucibus condimentum risus. Quisque ut tempor massa, sit amet rutrum libero. Mauris quam lorem, pulvinar vitae pellentesque a, malesuada vitae diam. Ut condimentum risus vel urna imperdiet sollicitudin. Duis adipiscing felis in enim commodo rutrum. In dolor sem, tristique ut tincidunt quis, sodales a mi. Sed tempus, ipsum ut aliquet egestas, ligula sapien dignissim tortor, non tincidunt enim orci eget tortor.</p>
		<p>Nulla in lacus hendrerit, dictum mi ut, egestas dolor. In pharetra pharetra lacus consectetur bibendum. Duis ullamcorper massa et vestibulum consectetur. Quisque gravida urna ornare massa commodo fringilla non vitae ipsum. In at mi et tortor ultrices sollicitudin. Etiam cursus felis id odio consequat, sit amet tincidunt dolor luctus. Vestibulum placerat dui in vehicula vestibulum.</p>
		<p>Sed nec eros id eros vulputate cursus. Donec elementum risus vitae erat tincidunt, et dapibus odio malesuada. Morbi porta ullamcorper elit, in interdum lorem dictum non. Nullam vehicula, ligula id facilisis rutrum, mauris magna mattis metus, at malesuada erat tortor in massa. Quisque iaculis, felis sit amet placerat semper, velit est venenatis tellus, ac sagittis lectus ligula quis lacus. Maecenas id urna eget libero euismod feugiat sit amet sed metus. Donec ut purus urna. Pellentesque at volutpat urna. Aenean ornare elit id risus gravida consectetur. Donec ultrices magna et ipsum blandit, eu eleifend magna porttitor. Morbi eu pharetra massa. Nam vehicula nibh non magna dapibus sodales. Aliquam posuere quam sit amet tristique lobortis. Proin mollis eleifend dui id auctor. Nullam vitae sem viverra, viverra tortor sit amet, semper metus.</p>
	</div>

</div>

{% endblock %}

{% block bottomscript %}

{% endblock %}
