<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}ReAllocate{% endblock %}</title>

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}theme/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}theme/ico/favicon.png">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?7">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
      
    {% block extra_css %}
    {% endblock %}

</head>
<body>

    {% include "theme/top_nav.html" %}
    {% include "theme/login_modal.html" %}
    {% include "includes/invite-users-modal.html" %}

    {% block jumbotron %}
    {% endblock %}

    {% block modals %}
    {% endblock %}

    {% if alert %}
    <div class="alert alert-{{ alert.type|default:'info' }} alert-dismissable container">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ alert.message|safe }}
    </div>
    {% endif %}

    <div id="{{ page_name }}">
    {% block content %}
    {% endblock %}
    </div>

    <footer class="container">
        <p>&copy; 2013 ReAllocate, 501c3. <a href="/privacy">Privacy</a> &middot; <a href="/tos">Terms of Use</a></p>
    </footer>

</div>

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.1.1.min.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-placeholder.js"></script>
<script src="{{ STATIC_URL }}js/main.js?5"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b5379c6ba6d63e"></script>

<script>
{% if user %}reAllocate.user = "{{ user.username }}";{% endif %}

{#    {% if not request.user.is_staff %}#}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38925689-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
{#    {% endif %}#}
</script>

{% block bottomscript %}
{% endblock %}

</body>
</html>