<div class="navbar">

    <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/images/reallocate_logo.png"/></a>

        <div class="nav-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li><a href="/about"><strong>Learn</strong> to ReAllocate</a></li>
                <li><a href="/get-started"><strong>Submit</strong> a Project</a></li>
                <!--<li><a href="/search"><strong>Find</strong><br/>an Opportunity</a></li>-->
            </ul>

            <ul class="nav navbar-nav pull-right" id="auth">
                <li class="dropdown user">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span id="user-email">{{ user.email }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li> 
                <li class="anon">
                    <a href="#login-modal" role="button" data-toggle="modal">Login</a>
                </li>
                <li class="anon">
                    <a href="/sign-up">Sign Up</a>
                </li>
            </ul>

        </div>
        <style>
        {% if user.is_authenticated %}
            .navbar .user { display: block; }
            .navbar .anon { display: none; }
        {% else %}
            .navbar .user { display: none; }
            .navbar .anon { display: block; }
        {% endif %}
        </style>
    </div>
</div>


