<div id="login-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="login-modal-label" class="modal-title">Login</h3>
            </div>
            <div class="modal-body row">
                <div class="col-5 col-offset-1">
                    <form class="form-horizontal" action="/login" id="modal-login" method="post">
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" id="modal-username" value="{{ username }}" placeholder="email" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" id="modal-password" value="" placeholder="password" />
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox"> Remember me
                            </label>
                            <button type="submit" class="btn btn-primary pull-right">Log in</button>
                        </div>
                    </form>
                </div>
                <!--
                <div class="vert-or col-1">
                    <div></div>
                    <p>or</p>
                    <div></div>
                </div>
                <div class="col-5" id="social-logins">

                    <a href="{% url "socialauth_begin" 'google' %}" class="btn btn-primary"><i class="icon-google-plus"></i> Google</a><br />
                    <a class="btn btn-info" href="/auth/facebook" style="background: #596F90;"><i class="icon-facebook"></i> Facebook</a><br />    
                    <a href="{% url "socialauth_begin" 'linkedin' %}" class="btn btn-info"><i class="icon-linkedin"></i> LinkedIn</a><br />
                </div>
                -->
            </div>
            <div class="modal-footer">
                Not a member? <a href="/sign-up">Signup!</a>
            </div>
        </div>
    </div>
</div>

<div class="navbar">

    <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/images/reallocate_logo.png"/></a>

        <div class="nav-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li><a href="/about"><strong>Learn</strong> to ReAllocate</a></li>
                <li><a href="/get-started"><strong>Submit</strong> a Project</a></li>
                <!--<li><a href="/search"><strong>Find</strong><br/>an Opportunity</a></li>-->
            </ul>

            <ul class="nav navbar-nav pull-right" id="auth">
                <li class="dropdown user">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span id="user-email">{{ user.email }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li> 
                <li class="anon">
                    <a href="#login-modal" role="button" data-toggle="modal">Login</a>
                </li>
                <li class="anon">
                    <a href="/sign-up">Sign Up</a>
                </li>
            </ul>

        </div>
        <style>
        {% if user.is_authenticated %}
            .navbar .user { display: block; }
            .navbar .anon { display: none; }
        {% else %}
            .navbar .user { display: none; }
            .navbar .anon { display: block; }
        {% endif %}
        </style>
    </div>
</div>


