<div class="row opportunity-small">
	<div class="col-8">
		<p>{{ oppotunity.opp_type }}</p>
		<p>
			<a href="/project/{{ opportunity.project.id }}/opportunity/{{ opportunity.id }}"><strong>{{ opportunity.name }}</strong></a>
		</p>
	</div>
	<div class="col-4">
		{% if opportunity.opp_type == 'skills' %}
			<i class="icon-fighter-jet icon-4x"></i>
		{% endif %}
		{% if opportunity.opp_type == 'skills' %}
			<i class="icon-book icon-4x"></i>
		{% endif %}
		{% if opportunity.opp_type == 'equipment' %}
			<i class="icon-cogs icon-4x"></i>
		{% endif %}
		{% if opportunity.opp_type == 'money' %}
			<i class="icon-money icon-4x"></i>
		{% endif %}	
	</div>
</div>