                <div class="span4">
                    <div class="thumnail_container" type="opportunity" opportunity_id="{{ opportunity.id }}">
                        <div class="oppThumb">
                            <img src="{{ opportunity.media_url }}"/>
                        </div>
                        <div class="opportunity_lower">
                            <div class="name">
                                {{ opportunity.name }}
                            </div>
                            <div class="opp_type">
                                {{ opportunity.opp_type }}
                            </div>
                            <div class="short_desc">
                                {{ opportunity.short_desc }}
                            </div>
                            <div class="location">
                                <div class="icon-map-marker"></div><a href="">San Francisco, CA</a>
                            </div>
                            <div class="project_name">
                                <div class="icon-wrench"></div><a href="/project/{{ opportunity.project.id }}">{{ opportunity.project.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>