                <div class="span3">
                    <div class="opportunity_container" opportunity_id="{{ opportunity.id }}">
                        <div class="opportunity_thumb">
                            <img src="{{ opportunity.media_url }}"/>
                        </div>
                        <div class="opportunity_lower">
                            <div class="name">
                                {{ opportunity.name }}
                            </div>
                            <div class="short_desc">
                                {{ opportunity.description }}
                            </div>
                            <div class="location">
                                <div class="icon-map-marker"></div><a href="">San Francisco, CA</a>
                            </div>
                            <div class="organization">
                                <div class="icon-wrench"></div><a href="/project/{{ opportunity.project.id }}">{{ opportunity.project.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>