<div class="post-update">

    <form enctype="multipart/form-data" method="post">

        <input type="hidden" name="orgid" value="{{ project.organization.id }}"/>
        <input type="hidden" name="pid" value="{{ project.id }}"/>
        <input type="hidden" name="oid" value="{{ opportunity.id }}"/>
        <textarea class="form-control" name="text" placeholder="How is your project going?"></textarea>
        
        <div class="modal-buttons post-update-buttons pull-right">
            <i class="icon-ok icon-2x file-upload-ok" style='padding-right:10px;padding-top:5px;display:none;'></i>
            <button type="submit" class="btn btn-default fake-file"><span class="icon-camera icon"></span></button>
            <input class="media-file" type="file" name="file" value="Upload a new photo" />
            <button class="btn btn-primary submit-update" type="submit">Post Update</button>
        </div>
        <div class="clearfix"></div>

    </form>

</div>