<style>
    .project-container {
        margin-bottom: 30px;
        height: 510px;
        box-shadow: 1px 2px 3px #808080;
        -moz-box-shadow: 1px 2px 3px #808080;
        -webkit-box-shadow: 1px 2px 3px #808080;
    }
    
    .project-container:hover {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        cursor: pointer;
    }
    .project-image {
        height: 168px;
        overflow: hidden;        
        position: relative;
    }
    .project-image img{
        height: 168px;
        width: 300px;
    }
    
    .project-cause {
        margin: 10px 0px 0px 5px;
        font-weight: bold;
    }
    
    .project-text .project-cause a {
         color: #4E7284;
    }
    
    .project-text {
        width: 100%;
    }
    
    .project-text a {
        color: #0C3645; 
    }
    .project-name {
        height:60px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        padding-top: 10px;
        font-size: 2.2em;
        line-height: 1em;
        
    }
    
    .project-text .short_desc {
        margin-top:20px;
        height: 60px;
        overflow: hidden;
        font-size: 1.4em;
        line-height: 1.3em;
        text-align: center;
    }
    
    .project-status {
        margin-top: 10px;
    }

    .project-status .pie-chart{
        margin-left: 5px;
        max-width: 100px;
        
    }
    
    .project-status needs {
        margin-left: 10px;
    }
    
    .project-location {
        margin: 25px 0px 0px 10px;
        font-weight: bold;
    }
    
    .project-location a {
        color: #4E7284; 
    }
      
</style>
        
<div class="span4">
    <div project_id="{{ project.id }}" class="project-container" type="project" project_id="{{ project.id }}">
        <div class="project-image">
            <a href="/project/{{ project.id }}"><img src="{{ project.media_url }}"></a>
        </div>
        <div class="project-text">
            <div class="project-cause">
                <a href="/causes/{{cause.name}}">Cause</a>
            </div>
            <div class="project-name"><a href="/project/{{ project.id }}">{{project.name}}</a></div>
            <div class="short_desc"><a href="/project/{{ project.id }}">{{project.short_desc}}</a></div>
        </div>
        <div class="row-fluid project-status">
            <div class="span5 pie-chart">
                <img src="http://127.0.0.1:8000/static/images/piechart.png"/>
            </div>
            <div class="span7 project-needs">
                <strong>Needs</strong><br/>
                <div class="need">
                    CAD Design<br/>
                    3D Printer Access<br/>
                    Travel<br/>
                    <a href="">See more...</a>
                </div>
            </div>
        </div>
        <div class="project-location"><a href="/locations/{{location.name}}">Location: {{project.city}}, {{project.state}}</a></div>
    </div>
</div>