<div class="project">
    {% if project.media_url %}
    <div class="project-image">
        <a href="/project/{{ project.id }}"><img src="{{ project.media_url }}"></a>
    </div>
    {% endif %}
    <div class="project-text">
        <div class="project-name"><a href="/project/{{ project.id }}">{{ project.name }}</a></div>
        <div class="short-desc"><a href="/project/{{ project.id }}">{{ project.short_desc|truncatechars:109 }}</a></div>
        <!--
        <div class="row project-status">
            <div class="col-5 pie-chart">
                <img src="/static/images/piechart.png"/>
            </div>
            <div class="col-7 project-needs">
                <strong>Needs</strong><br/>
                <div class="need"
                    [ TODO ]<br />
                    <a href="/project/{{ project.id }}">See more&hellip;</a>
                </div>
            </div>
        </div>
        -->
        {% if project.city and project.state %}
        <div class="project-location">Location: {{ project.city }}, {{ project.state }}</div>
        {% endif %}
    </div>
</div>