<div class="project">
    {% if project.media_url %}
    <div class="project-image">
        <a href="/project/{{ project.id }}"><img src="{{ project.media_url }}"></a>
    </div>
    {% endif %}
    <div class="project-text"><a href="/project/{{ project.id }}">
        <div class="project-name">{{ project.name }}</div>
        {% if not project.media_url %}
        <div class="description">{{ project.description|truncatechars:560 }}</div>
        {% else %}
        <div class="short-desc">{{ project.short_desc|truncatechars:130 }}</div>
        {% endif %}
        <!--
        <div class="row project-status">
            <div class="col-5 pie-chart">
                <img src="/static/images/piechart.png"/>
            </div>
            <div class="col-7 project-needs">
                <strong>Needs</strong><br/>
                <div class="need"
                    [ TODO ]<br />
                    <a href="/project/{{ project.id }}">See more&hellip;</a>
                </div>
            </div>
        </div>
        -->
        {% if project.city and project.state %}
        <div class="project-location">Location: {{ project.city }}, {{ project.state }}</div>
        {% endif %}
    </a></div>
</div>