<div class="project">
    {% if project.media_url %}
    <a class="project-image" href="/project/{{ project.id }}" style="background-image: url('{{ project.media_url }}')">
    </a>
    {% endif %}
    <div class="project-text"><a href="/project/{{ project.id }}">
        <div class="project-name">{{ project.name }}</div>
        {% if not project.media_url %}
        <div class="project-description">{{ project.description|truncatechars:300 }}</div>
        {% else %}
        <div class="project-short-desc">{{ project.short_desc|truncatechars:110 }}</div>
        {% endif %}
        <!--
        <div class="row project-status">
            <div class="col-xs-5 pie-chart">
                <img src="/static/images/piechart.png"/>
            </div>
            <div class="col-xs-7 project-needs">
                <strong>Needs</strong><br/>
                <div class="need"
                    [ TODO ]<br />
                    <a href="/project/{{ project.id }}">See more&hellip;</a>
                </div>
            </div>
        </div>
        -->
    </a></div>
    {% if project.city and project.state %}
    <div class="project-footer fadethrough-light">
        <p class="project-location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ project.city }}, {{ project.state }}</p>
    </div>
    {% endif %}
</div>